<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/student/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/student/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <br>
        <br>
        <br>
            <div class="inner-content" style="margin: 0 4vw 0 12vh; max-width: 80%">

                <h3>학생 정보 입력</h3>
                <div style="font-size: 12pt"> 참여하고 있는 과정과 이름을 입력해주세요. </div>

                <br>
                <br>

                <div style="max-width: 500px">
                    <div class="alert alert-danger" role="alert" style="width: 100%; display: none" id="alertDiv">

                        <button type="button" class="btn-close float-end" data-dismiss="alert" aria-label="Close" id="alertCloseBtn">
                        </button>
                    </div>

                    <form action="/student/select" method="post">
                        <select class="form-select" name="lessonIdx">
                            <option th:value="${lesson.idx}" th:each="lesson : ${lessonList}">[[${lesson.curriculum.name}]] [[${lesson.number}]]회차</option>
                        </select>

                        <input class="form-control" type="text" name="name" placeholder="이름"/>
                        <!--                        <input class="form-control" type="text" name="birthday" placeholder="생년월일"/>-->

                        <br>
                        <button class="btn btn-primary" type="submit">입력</button>
                        <button class="btn btn-secondary" type="reset">초기화</button>
                    </form>
                </div>

            </div>





    </div>
    <!-- content end -->


    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/student/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="/layout/student/basic :: scriptSet">
</div>

<script>
    document.querySelector(".studentHomeBtn").classList.add("active");


    // alert -------------------------------------------------------------
    const url = new URL(window.location.href);
    console.log(window.location.href);
    const urlSearchParams = url.searchParams;

    const code = urlSearchParams.get("code");
    const alertDiv = document.querySelector("#alertDiv");

    switch (code){
        case 'success' :
            changeMessage('success', '제출되었습니다. ◝(ᵔᵕᵔ)◜')
            break;
        case 'fail' :
            changeMessage('danger', '오류 발생! 다시 제출해주세요. (T⌓T)')
            break;
        case 'not-exist-student' :
            changeMessage('danger', '존재하지 않는 학생입니다... (T⌓T) 다시 입력해주세요.')
    }

    function changeMessage(type, message){
        alertDiv.prepend(message);
        switch (type){
            case 'danger' :
                alertDiv.classList = 'alert alert-danger';
                break;
            case 'success' :
                alertDiv.classList = 'alert alert-success';
        }
        alertDiv.style.display = 'block';
        history.replaceState({}, null, location.pathname);
    }

    // alert 닫기
    const alertCloseBtn = document.querySelector("#alertCloseBtn");
    alertCloseBtn.addEventListener("click", function (e){
        e.stopPropagation();
        e.preventDefault();
        alertDiv.style.display = 'none';
    })

    // alert 끝 -------------------------------------------------------------




</script>

</body>
</html>