<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/student/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/student/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <br>
        <br>
        <br>
        <div class="inner-content" style="margin: 0 4vw 0 12vh; max-width: 80%">

            <h3>학생 정보</h3>
            <div style="font-size: 12pt" th:text="${ '과정: ' + lesson.curriculum.name + lesson.number + '회차'}"></div>
            <div style="font-size: 12pt">이름 : [[${student.name}]]</div>
            <div style="font-size: 12pt">생년월일: [[${student.birthday}]]</div>

            <br>
            <br>
            <br>

            <div class="flex-wrap" style="max-width: 700px">


                <div class="col-sm-6">
                    <form action="/student/question" method="post">
                        <input type="hidden" name="idx" th:value="${student.idx}"/>
                        <input type="hidden" name="name" th:value="${student.name}">
                        <input type="hidden" name="lessonIdx" th:value="${lesson.idx}"/>

                        <button th:if="${!student.pretest}" class="btn btn-primary" type="submit" style="width: 370px; height: 100px; margin: 6px">사전 평가</button>
                        <button th:if="${student.pretest}" class="btn btn-secondary" type="button" style="width: 370px; height: 100px; margin: 6px" id="pretestDoneBtn">사전 평가(완료)</button>

                    </form>
                </div>


                <div class="col-sm-6">
                    <form action="/student/survey" method="post">
                        <input type="hidden" name="idx" th:value="${student.idx}"/>
                        <input type="hidden" name="name" th:value="${student.name}">
                        <input type="hidden" name="lessonIdx" th:value="${lesson.idx}"/>
                        <button th:if="${surveySum != 3}" class="btn btn-primary" type="submit" style="width: 370px; height: 100px; margin: 6px">설문 조사</button>
                        <button th:if="${surveySum == 3}" class="btn btn-secondary" type="reset" style="width: 370px; height: 100px; margin: 6px">설문 조사<br>(완료)</button>
                    </form>
                </div>

            </div>


        </div>






    </div>
    <!-- content end -->


    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/student/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="/layout/student/basic :: scriptSet">
</div>

<script>

    // document.querySelector(".questionBtn").classList.add("active");


    const pretestDoneBtn = document.querySelector("#pretestDoneBtn");
    pretestDoneBtn.addEventListener("click", function (e){
        e.preventDefault();
        e.stopPropagation();


    })

</script>

</body>
</html>