<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar"></div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <h3 style="display: inline-flex">수업정보</h3>


            <button style="display: inline-flex" class="btn btn-primary float-end surveyResult">설문결과</button>

            <hr>
            <h7 style="color: #0d6efd; font-size: large; font-weight: bold" th:text="${lesson.number}"></h7>
            <h7 style="color: #0d6efd; font-size: large; font-weight: bold"> 기 </h7>

            <hr>

            <!-- 본문 -->


            <table style="width: 100%; font-size: large; font-weight: bold; line-height: 200%">
                <tr>
                    <td style="width: 20%">유형    </td>
                    <td style="overflow: auto;width: 80%" th:text="${lesson.curriculum.category.name}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>과정    </td>
                    <td style="overflow: auto;" th:text="${lesson.curriculum.name}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>기수    </td>
                    <td th:text="${lesson.number}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>보유과목    </td>
                    <td >
                        <div style="display: flex; flex-wrap: wrap;">
                            <div style="margin-right: 10px;"
                                 th:each="i:${#numbers.sequence(0,subjectHold.size()-1)}"
                            >
                                <span th:text="${subjectHold[i]}"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>교사    </td>
                    <td style="overflow: auto;" th:text="${lesson.member.name}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>강의실</td>
                    <td style="overflow: auto;" th:text="${lesson.classRoom}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>수강인원    </td>
                    <td th:text="${lesson.headCount}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>시작일    </td>
                    <td th:text="${lesson.startDay}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>종료일    </td>
                    <td th:text="${lesson.endDay}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>상담일 1    </td>
                    <td th:text="${lesson.survey1}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>상담일 2    </td>
                    <td th:text="${lesson.survey2}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>상담일 3    </td>
                    <td th:text="${lesson.survey3}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>비고    </td>
                    <td><input type="text" size="80" style=";word-break:break-all; border: none;" th:value="${lesson.content}" readonly></td>
                </tr>
            </table>

            <br>

            <button style="float: left;" class="btn btn-outline-danger"
                    th:idx="${lesson.idx}"
                    th:onclick="deleteBtn(this.getAttribute('idx'))">삭제</button>
            <div class="float-end" style="display: inline-flex">
                <button style="display: inline-flex; margin-right: 10px" class="btn btn-outline-primary"
                        th:idx="${lesson.idx}"
                        th:curriculumIdx="${lesson.curriculum.idx}"
                        th:curriculumName="${lesson.curriculum.name}"
                        th:memberId="${lesson.member.id}"
                        th:memberName="${lesson.member.name}"
                        th:number="${lesson.number}"
                        th:startDay="${lesson.startDay}"
                        th:endDay="${lesson.endDay}"
                        th:survey1="${lesson.survey1}"
                        th:survey2="${lesson.survey2}"
                        th:survey3="${lesson.survey3}"
                        th:content="${lesson.content}"
                        th:classRoom="${lesson.classRoom}"
                        th:questionName="${lesson.questionName}"
                        th:onclick="updateBtn(this.getAttribute('idx'),
                                                  this.getAttribute('curriculumIdx'),
                                                  this.getAttribute('memberId'),
                                                  this.getAttribute('number'),
                                                  this.getAttribute('startDay'),
                                                  this.getAttribute('endDay'),
                                                  this.getAttribute('survey1'),
                                                  this.getAttribute('survey2'),
                                                  this.getAttribute('survey3'),
                                                  this.getAttribute('content'),
                                                  this.getAttribute('classRoom'),
                                                  this.getAttribute('questionName'))">수정</button> &nbsp;
                <button style="display: inline-flex" class="btn btn-outline-dark" onclick="location.href='/training/lesson'">목록</button>
            </div>

            <!-- 수정 모달 -->
            <div class="modal updateModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">수업 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/training/lesson/update" method="post">
                            <div class="modal-body">
                                <input type="hidden" class="form-control updateIdx" name="idx">

                                <br>

                                <div class="input-group-prepend">
                                    <select class="form-select type" name="curriculumIdx">
                                        <option class="updateCurriculumIdx" value="updateCurriculumIdx">과정
                                        </option>
                                        <option class="updateCurriculumName" th:each="curriculum : ${curriculum}"
                                                th:value="${curriculum.idx}" th:text="${curriculum.name}"></option>
                                    </select>
                                </div>

                                <br>

                                <div class="input-group mb-2">
                                    <div style="width: 40%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">교사</span></div>
                                    <div style="width: 30%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">기수</span></div>
                                    <div style="width: 30%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">강의실</span></div>
                                </div>

                                <div class="input-group mb-3">
                                    <div style="width: 40%;">
                                        <select class="form-select type" name="memberId">
                                            <option class="updateMemberId" value="updateMemberId">교사</option>
                                            <option class="updateMemberId" th:each="member: ${member}"
                                                    th:value="${member.id}" th:text="${member.name}"></option>
                                        </select>
                                    </div>
                                    <div style="width: 30%;"><input type="text" class="form-control updateNumber"
                                                                    name="number"></div>
                                    <div style="width: 30%;"><input type="text" class="form-control updateClassRoom"
                                                                    name="classRoom"></div>
                                </div>

                                <br>

                                <div class="input-group mb-2">
                                    <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">시작일</span></div>
                                    <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">종료일</span></div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control updateStartDay" name="startDay">
                                    <input type="date" class="form-control updateEndDay" name="endDay">
                                </div>

                                <br>

                                <div class="input-group mb-2">
                                    <div style="width: 33%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">설문1</span></div>
                                    <div style="width: 33%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">설문2</span></div>
                                    <div style="width: 34%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">설문3</span></div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control updateSurvey1" name="survey1">
                                    <input type="date" class="form-control updateSurvey2" name="survey2">
                                    <input type="date" class="form-control updateSurvey3" name="survey3">
                                </div>

                                <br>

                                <div class="input-group mb-3">
                                    <select class="form-select type" name="questionName">
                                        <option class="updateQuestionName" value="updateQuestionName">사전평가문제</option>
                                        <option th:each="questionName: ${questionName}"
                                                th:value="${questionName.name}"
                                                th:text="${questionName.name}"></option>
                                    </select>
                                </div>

                                <br>

                                <div class="input-group mb-3">
                                    <textarea type="text" rows="2" class="form-control updateContent"
                                              style="resize: none; height: 85px;" name="content"></textarea>
                                </div>
                            </div> <!-- modal body end -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-outline-primary updateSubmit">수정</button>
                                <button type="button" class="btn btn-outline-dark remove">초기화</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    //수업 수정 모달
    const updateModal = new bootstrap.Modal(document.querySelector(".updateModal"))
    const updateIdx = document.querySelector(".updateIdx")
    const updateCurriculumIdx = document.querySelector(".updateCurriculumIdx ")
    const updateMemberId = document.querySelector(".updateMemberId ")
    const updateNumber = document.querySelector(".updateNumber ")
    const updateStartDay = document.querySelector(".updateStartDay ")
    const updateEndDay = document.querySelector(".updateEndDay ")
    const updateSurvey1 = document.querySelector(".updateSurvey1 ")
    const updateSurvey2 = document.querySelector(".updateSurvey2 ")
    const updateSurvey3 = document.querySelector(".updateSurvey3 ")
    const updateContent = document.querySelector(".updateContent ")
    const updateClassRoom = document.querySelector(".updateClassRoom ")
    const updateQuestionName = document.querySelector(".updateQuestionName ")
    const updateMemberName = document.querySelector(".updateMemberName")
    const updateCurriculumName = document.querySelector(".updateCurriculumName")

    //수업 상세 모달
    async function updateBtn(idx, curriculumIdx, memberId, number, startDay, endDay, survey1, survey2, survey3, content, classRoom, questionName) {
        updateIdx.value = idx
        updateCurriculumIdx.value = curriculumIdx
        updateMemberId.value = memberId
        updateNumber.value = number
        updateStartDay.value = startDay
        updateEndDay.value = endDay
        updateSurvey1.value = survey1
        updateSurvey2.value = survey2
        updateSurvey3.value = survey3
        updateContent.value = content
        updateClassRoom.value = classRoom
        updateQuestionName.value = questionName

        console.log("idx : " + idx +
            " , curriculumIdx : " + curriculumIdx +
            " , memberId : " + memberId +
            " , number : " + number +
            " , startDay : " + startDay +
            " , endDay : " + endDay +
            " , survey1 : " + survey1 +
            " , survey2 : " + survey2 +
            " , survey3 : " + survey3 +
            " , content : " + content +
            " , classRoom : " + classRoom +
            " , questionName : " + questionName)
        updateModal.show()
    }

    //수업 삭제
    async function deleteBtn(idx) {
        if (!confirm("과정을 삭제하시겠습니까?")) {
            return
        }

        lessonDelete(idx).then(result => {
            location.reload()
        }).catch(e => {
            console.log(e)
        })
    }

    // 설문결과로 이동하는 이벤트
    document.querySelector('.surveyResult').addEventListener('click', function() {

        var round = 1;

        window.location.href = '/member/lesson/survey/result?lessonIdx=' + [[${lesson.idx}]] + '&round=' + 1;
    });

</script>
</html>