<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <h3 style="display: inline-flex">수업관리</h3>
            <button style="display: inline-flex" class="btn btn-primary float-end insertBtn">수업등록</button>

            <hr>
            <br>

            <!-- 검색 -->
            <div class="row mt-3 float-end" style="max-width: 500px; display: inline-flex">
                <form action="/training/lesson" method="get">
                    <div class="col">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-select type" name="type">
                                    <option value="">---</option>
                                    <option th:selected="${pageRequestDTO.type == 'c'}" value="c">훈련유형</option>
                                    <option th:selected="${pageRequestDTO.type == 't'}" value="t">과정</option>
                                    <option th:selected="${pageRequestDTO.type == 'n'}" value="n">기수</option>
                                    <option th:selected="${pageRequestDTO.type == 'm'}" value="m">교사</option>
                                    <option th:selected="${pageRequestDTO.type == 'h'}" value="h">수강인원</option>
                                    <option th:selected="${pageRequestDTO.type == 's'}" value="s">수업시작일</option>
                                    <option th:selected="${pageRequestDTO.type == 'e'}" value="e">수업종료일</option>
                                    <option th:selected="${pageRequestDTO.type == 'r'}" value="r">강의실</option>
                                </select>
                            </div> &nbsp;
                            <input type="text" class="form-control keyword" name="keyword"
                                   th:value="${pageRequestDTO.keyword}" style="border-radius: 5px"> &nbsp;
                            <button style="border-radius: 5px" type="submit" class="btn btn-outline-primary searchBtn">검색</button> &nbsp;
                            <button style="border-radius: 5px" type="button" class="btn btn-outline-secondary clearBtn">초기화</button>

                        </div>
                    </div>
                </form>
            </div>

            <!-- 리스트 -->
            <br>
            <div style="display: inline-flex">총 [[${responseDTO.total}]]개</div>

            <br>
            <hr>

            <div style="width: 100%">
                <div style="display: inline-flex;width: 35%; font-weight: bold; font-size: large; color: #0d6efd">과정명</div>
                <div style="display: inline-flex;width: 5%; font-weight: bold; font-size: large; color: #0d6efd">기수</div>
                <div style="display: inline-flex;width: 5%; font-weight: bold; font-size: large; color: #0d6efd">인원</div>
                <div style="display: inline-flex;width: 10%; font-weight: bold; font-size: large; color: #0d6efd">교사</div>
                <div style="display: inline-flex;width: 10%; font-weight: bold; font-size: large; color: #0d6efd">시작일</div>
                <div style="display: inline-flex;width: 10%;  font-weight: bold; font-size: large;  color: #0d6efd">종료일</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">훈련유형</div>
            </div>

            <div style="width: 100%; " th:each="lesson: ${responseDTO.getDtoList()}">
                <a th:href="@{/training/lesson/detail(idx=${lesson.idx})}" style="color: black">
                    <div>
                        <hr>
                        <div style="overflow: auto;display: inline-flex;width: 35%" th:text="${lesson.curriculum.name}"></div>
                        <div style="overflow: auto;display: inline-flex;width: 5%" th:text="${lesson.number}+'기'"></div>
                        <div style="overflow: auto;display: inline-flex;width: 5%" th:text="${lesson.headCount}+'명'"></div>
                        <div style="overflow: auto;display: inline-flex;width: 10%" th:text="${lesson.member.name}"></div>
                        <div style="overflow: auto;display: inline-flex;width: 10%" th:text="${lesson.startDay}"></div>
                        <div style="overflow: auto;display: inline-flex;width: 10%" th:text="${lesson.endDay}"></div>
                        <div style="overflow: auto;display: inline-flex;width: 20%" th:text="${lesson.curriculum.category.name}"></div>
                    </div>
                </a>
                <div class="float-end" style="display: inline-flex"></div>

            </div>

            <!-- 페이지 -->
            <hr>
            <br>
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                    </li>
                </th:block>

                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end + 1}">다음</a>
                </li>

            </ul>

            <!--모달 -->

            <!-- 등록 모달 -->
            <div class="modal insertModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">수업 등록</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/training/lesson/insert" method="post">
                            <div class="modal-body">

                                <br>

                                <div class="input-group-prepend">
                                    <select class="form-select type" th:name="curriculum_idx">
                                        <option value="">과정</option>
                                        <option th:each="curriculum : ${curriculum}" th:value="${curriculum.idx}"
                                                th:text="${curriculum.name}"></option>
                                    </select>
                                </div>

                                <br>

                                <div class="input-group mb-3">
                                    <select class="form-select type" th:name="member_id">
                                        <option value="">교사</option>
                                        <option th:each="member: ${member}" th:value="${member.id}"
                                                th:text="${member.name}"></option>
                                    </select>
                                    <input type="number" class="form-control lessonNumber" name="number" placeholder="기수" oninput="this.value=this.value.replace(/[^0-9.]/g,'').replace(/(\..*)\./g,'$1');">
                                    <input type="text" class="form-control lessonClassRoom" name="classRoom"
                                           placeholder="강의실">
                                </div>

                                <br>

                                <div class="input-group mb-2">
                                    <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">시작일</span></div>
                                    <div style="width: 50%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">종료일</span></div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control lessonStartDay" name="startDay"
                                           placeholder="시작일">
                                    <input type="date" class="form-control lessonEndDay" name="endDay"
                                           placeholder="수료일">
                                </div>

                                <br>

                                <div class="input-group mb-2">
                                    <div style="width: 33%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">설문1</span></div>
                                    <div style="width: 33%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">설문2</span></div>
                                    <div style="width: 34%; display: flex; justify-content: center; align-items: center;">
                                        <span style="font-weight: 600;">설문3</span></div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control lessonSurvey1" name="survey1"
                                           placeholder="설문1">
                                    <input type="date" class="form-control lessonSurvey2" name="survey2"
                                           placeholder="설문2">
                                    <input type="date" class="form-control lessonSurvey3" name="survey3"
                                           placeholder="설문3">
                                </div>

                                <br>

                                <!-- 보유 과목 체크박스 -->
                                <div class="input-group mb-3">
                                    <div class="form-check form-check-inline" th:each="subject: ${subject}" >
                                        <input type="checkbox" name="selectedSubjects" th:value="${subject.name}" th:id="'subject_' + ${subject.idx}" class="form-check-input">
                                        <label th:for="'subject_' + ${subject.idx}" th:text="${subject.name}" class="form-check-label"></label>
                                    </div>
                                </div>

                                <br>

                                <div class="input-group mb-3">
                                    <select class="form-select type" th:name="questionName">
                                        <option value="">사전평가문제</option>
                                        <option th:each="questionName: ${questionName}" th:value="${questionName.name}"
                                                th:text="${questionName.name}"></option>
                                    </select>
                                </div>

                                <br>

                                <div class="input-group mb-3">
                                    <textarea type="text" rows="2" class="form-control lessonContent"
                                              style="resize: none; height: 85px;" id="content" name="content"
                                              placeholder="비고"></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-outline-primary lessonInsert">등록</button>
                                    <button type="button" class="btn btn-outline-danger insertClose">닫기</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- 등록모달 end -->
        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <!-- content end -->


    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    const insertModal = new bootstrap.Modal(document.querySelector(".insertModal"))
    const insertBtn = document.querySelector(".insertBtn")
    const insertClose = document.querySelector(".insertClose")
    const lessonClassRoom = document.querySelector(".lessonClassRoom")
    const lessonNumber = document.querySelector(".lessonNumber")
    const lessonStartDay = document.querySelector(".lessonStartDay")
    const lessonEndDay = document.querySelector(".lessonEndDay")
    const lessonSurvey1 = document.querySelector(".lessonSurvey1")
    const lessonSurvey2 = document.querySelector(".lessonSurvey2")
    const lessonSurvey3 = document.querySelector(".lessonSurvey3")
    const lessonContent = document.querySelector(".lessonContent")


    //수업 등록
    //수업 등록 모달 뜨기
    insertBtn.addEventListener("click", function (e) {
        lessonClassRoom.value = ''
        lessonNumber.value = ''
        lessonStartDay.value = ''
        lessonEndDay.value = ''
        lessonSurvey1.value = ''
        lessonSurvey2.value = ''
        lessonSurvey3.value = ''
        lessonContent.value = ''
        insertModal.show()
    }, false)

    //수업 등록 모달 닫기
    insertClose.addEventListener("click", function (e) {
        insertModal.hide()
    }, false)

    //페이지 클릭
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const formObj = document.querySelector("form");

        const num = target.getAttribute("data-num");
        const keyword = document.querySelector(".keyword");
        const type = document.querySelector(".type");

        // 버튼 누르면 ?page=num
        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;

        // 검색 목록이면
        if (keyword.value !== '') {
            formObj.innerHTML += `<input type="hidden" name="type" value="${type.value}">`
            formObj.innerHTML += `<input type="hidden" name="keyword" value="${keyword.value}">`
        }

        formObj.submit();

    }, false);

    //  검색 조건 초기화
    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        self.location = '/training/lesson';

    }, false)


</script>
</html>