<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="/layout/basic :: head"></head>
<style>
  .list-title{
    font-weight: bold;
    font-size: large;
    color: #0d6efd;
    margin-bottom: 15px;
  }

  .studentName:hover, .lessonName:hover {
    text-decoration-line : underline;
    cursor: pointer;
  }

</style>
<body>
<!-- warpper start -->
<div class="wrapper">
  <div th:replace="/layout/basic :: sidebar">

  </div>

  <!-- content start -->
  <div class="content">
    <div th:replace="/layout/basic :: navbar"></div>

    <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

      <h3 style="display: inline-flex">학생 관리</h3>
      <button style="display: inline-flex" class="btn btn-primary float-end studentInsertBtn"> 학생 등록 </button>

      <hr>
      <br>

      <!-- 검색 -->
      <div class="row mt-3 float-end" style="max-width: 500px; display: inline-flex">
        <form action="/member/student" method="get">
          <div class="col">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="form-select type" name="type">
                  <option th:selected="${pageRequestDTO.type == 'nl'}" value="nl" selected>수업 | 이름</option>
                  <option th:selected="${pageRequestDTO.type == 'l'}" value="l">수업</option>
                  <option th:selected="${pageRequestDTO.type == 'n'}" value="n">이름</option>
<!--                  <option th:selected="${pageRequestDTO.type == 'i'}" value="i">아이디</option>-->
<!--                  <option th:selected="${pageRequestDTO.type == 'ni'}" value="ni">이름/아이디</option>-->
                </select>
              </div>

              &nbsp;&nbsp;
              <input type="text" class="form-control keyword" name="keyword" th:value="${pageRequestDTO.keyword}" style="border-radius: 5px">
              &nbsp;&nbsp;
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary searchBtn">검색</button>
                <button type="button" class="btn btn-outline-secondary clearBtn">초기화</button>
              </div>

            </div>
          </div>

        </form>
      </div>
      <!-- 검색 끝-->

      <br>

      <!-- 학생 리스트 -->
<!--      <div style="display: inline-flex">총 [[${pageResponseDTO.total}]]명</div>-->
<!--      <div th:each="student : ${pageResponseDTO.getDtoList()}">-->

<!--          <hr>-->
<!--          <img class="rounded-circle" th:src="${'/images/' + student.fileName}" alt="" style="width: 40px; height: 40px;">-->
<!--        &nbsp;&nbsp;-->
<!--          <div style="display: inline-flex" th:text="${student.name}"></div> &nbsp;&nbsp; | &nbsp;&nbsp;-->
<!--          <div style="display: inline-flex" th:text="${#temporals.format(student.regDate, 'yy-MM-dd')}"></div>-->
<!--          <div class="float-end">-->
<!--            <button style="display: inline-flex" class="btn btn-secondary" th:data-name="${student.idx}" onclick="studentModify(this.getAttribute('data-name'))">수정</button>-->
<!--            <button style="display: inline-flex" class="btn btn-danger studentDeleteBtn">삭제</button>-->
<!--          </div>-->
<!--      </div>-->
      <!-- 학생 리스트 끝 -->




      <!-- 학생 테이블 -->
      <div style="display: inline-flex">총 [[${pageResponseDTO.total}]]명</div>
      <hr>

        <table class="table table-hover" style="margin-top: 0">
          <tr>
            <th class="align-middle"><div class="list-title">수업</div></th>
            <th class="align-middle"><div class="list-title">이름</div></th>
            <th class="align-middle"><div class="list-title">생년월일</div></th>
            <th class="align-middle"><div class="list-title">이메일</div></th>
            <th class="align-middle"><div class="list-title">연락처</div></th>
<!--            <th class="align-middle">비고</th>-->
            <th class="align-middle"><div class="list-title">수정/삭제</div></th>

          </tr>
          <tr th:each="student : ${pageResponseDTO.dtoList}">
            <td th:text="${student.lesson.curriculum.name + ' ' + student.lesson.number + '회차'}" class="align-middle lessonName" th:idx="${student.lesson.idx}" onclick="goToLessonInfo(this.getAttribute('idx'))"></td>
            <td th:text="${student.name}" class="align-middle studentName" th:idx="${student.idx}" onclick="goToStudentInfo(this.getAttribute('idx'))"></td>
            <td th:text="${student.birthday}" class="align-middle"></td>
            <td th:text="${student.email}" class="align-middle"></td>
            <td th:text="${student.phone}" class="align-middle"></td>
<!--            <td th:text="${student.etc}" class="align-middle"></td>-->
            <td>
              <div>
              <button style="display: inline-flex" class="btn btn-secondary" th:data-name="${student.idx}" onclick="studentModify(this.getAttribute('data-name'))">수정</button>
              <form action="/member/student/delete" method="post" id="deleteForm" style="display: inline-flex">
                <input type="hidden" name="lessonIdx" th:value="${student.lesson.idx}"/>
                <input type="hidden" name="idx" th:value="${student.idx}"/>
                <button style="display: inline-flex" class="btn btn-danger" onclick="studentDelete()">삭제</button>
              </form>
              </div>
            </td>

          </tr>


        </table>
    <!-- 학생 테이블 끝 -->





    <!--      페이지 -->
    <br>
    <div class="">
      <ul class="pagination flex-wrap">
        <li class="page-item" th:if="${pageResponseDTO.prev}">
          <a class="page-link" th:data-num="${pageResponseDTO.start -1}">이전</a>
        </li>

        <th:block th:each="i : ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
          <li th:class="${pageResponseDTO.page == i} ? 'page-item active' : 'page-item'">
            <a class="page-link" th:data-num="${i}" >[[${i}]]</a>
          </li>
        </th:block>

        <li class="page-item" th:if="${pageResponseDTO.next}">
          <a class="page-link" th:data-num="${pageResponseDTO.end + 1}">다음</a>
        </li>

      </ul>
    </div>

    <br>

    </div>
<!--    inner content end-->





    <!-- 등록 모달 -->

    <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="insertModalLabel">학생 등록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <br>
            <div class="d-flex justify-content-center">
              <div class="inputImage" style="width: 200px; height: 200px;">
                <img class="rounded-circle" src="/images/default_profile.jpg" alt="" style="width: 100%; height:100%; object-fit: cover; cursor: pointer">
              </div>
            </div>



            <br>
            <br>

            <form action="/member/student/insert" method="post" id="insertForm" encType="multipart/form-data">

              <!-- imageupload-->
              <div class="mb-3" id="insertFileName">
                <input name="file" type="file" id="uploadImage"/>
              </div>
              <!-- imageupload-->



              <div>
                <select class="form-select lessonSelect" id="lessonSelect" name="lessonIdx" required>
                  <option value="" selected>수업 선택</option>
                </select>
              </div>

              <br>

              <div class="mb-3">
                <label for="insertName" class="col-form-label">이름</label>
                <textarea type="text" rows="1" class="form-control" id="insertName" name="name" required></textarea>
              </div>


              <div class="mb-3">
                <label for="insertPhone" class="col-form-label">전화번호</label>
                <textarea type="text" rows="1" class="form-control" id="insertPhone" name="phone"></textarea>
              </div>


              <div class="mb-3">
                <label for="insertBirthday" class="col-form-label">생년월일</label>
                <textarea class="form-control" rows="1"  id="insertBirthday" name="birthday" required placeholder="ex) 991231"></textarea>
              </div>

              <div class="mb-3">
                <label for="insertEmail" class="col-form-label">이메일</label>
                <textarea class="form-control" rows="1"  id="insertEmail" name="email" required placeholder="ex) example@gmail.com"></textarea>
              </div>




              <div class="mb-3">
                <label for="insertEtc" class="col-form-label">비고</label>
                <textarea class="form-control" rows="1"  id="insertEtc" name="etc" required></textarea>
              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="registerBtn">등록</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>

            </form>






          </div>

        </div>
      </div>
    </div>


    <!-- 등록 모달 끝 -->




    <!-- 수정 모달 -->

    <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modifyModalLabel">학생 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <br>
            <br>
            <div class="d-flex justify-content-center">
              <div class="modifyImage" style="width: 200px; height: 200px;">
                <img class="rounded-circle" src="/images/default_profile.jpg" alt="" style="width: 100%; height:100%; object-fit: cover; cursor: pointer">
              </div>
            </div>

            <form action="/member/student/modify" method="post" id="modifyForm" encType="multipart/form-data">



              <!-- imageupload-->
              <div class="mb-3" id="modifyFileName">
                <input name="file" type="file" id="modifyFile"/>
              </div>
              <!-- imageupload-->

              <input type="hidden" id="modifyIdx" name="idx"/>

              <div class="mb-3">
                <label for="modifyName" class="col-form-label">이름</label>
                <textarea type="text" rows="1" class="form-control" id="modifyName" name="name" required></textarea>
              </div>


              <div class="mb-3">
                <label for="modifyPhone" class="col-form-label">전화번호</label>
                <textarea type="text" rows="1" class="form-control" id="modifyPhone" name="phone"></textarea>
              </div>


              <div class="mb-3">
                <label for="modifyBirthday" class="col-form-label">생년월일</label>
                <textarea class="form-control" rows="1"  id="modifyBirthday" name="birthday" required placeholder="ex) 991231"></textarea>
              </div>

              <div class="mb-3">
                <label for="modifyEmail" class="col-form-label">이메일</label>
                <textarea class="form-control" rows="1"  id="modifyEmail" name="email" required placeholder="ex) example@gmail.com"></textarea>
              </div>


              <div class="mb-3">
                <label for="modifyEtc" class="col-form-label">비고</label>
                <textarea class="form-control" rows="1"  id="modifyEtc" name="etc" required></textarea>
              </div>



              <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="modifyBtn">수정</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>

            </form>
          </div>

        </div>
      </div>
    </div>


    <!-- 수정 모달 끝 -->

  </div>
  <!-- content end -->


  <!-- 진짜 개 천천히 top으로 올라가네요-->
  <!--    좀 빠르게 고침 -->
  <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
  <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->




<div th:replace="/layout/basic :: scriptSet"></div>

<script>


  // 페이지 ------------------------------------------------------------
  //   페이지 클릭 이벤트 처리
  //   clear 버튼 누르면 검색 조건 사라진 목록(/member/teacher) 출력
  document.querySelector(".pagination").addEventListener("click", function (e) {
    e.stopPropagation();
    e.preventDefault();

    const target = e.target;

    if (target.tagName !== 'A') {
      return;
    }

    const formObj = document.querySelector("form");

    const num = target.getAttribute("data-num");
    const keyword = document.querySelector(".keyword");
    const type = document.querySelector(".type");

    // 버튼 누르면 ?page=num
    formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;

    // 검색 목록이면
    if(keyword.value !== ''){
      formObj.innerHTML += `<input type="hidden" name="type" value="${type.value}">`
      formObj.innerHTML += `<input type="hidden" name="keyword" value="${keyword.value}">`
    }

    formObj.submit();

  }, false);
  //  페이지 클릭 end


  //  검색 조건 초기화
  document.querySelector(".clearBtn").addEventListener("click", function (e){
    e.stopPropagation();
    e.preventDefault();

    self.location = '/member/student';

  }, false)
  //  검색 초기화 end
  // 페이지 끝 ------------------------------------------------------------



  // 등록------------------------------------------------------------
  const lessonSelect = document.querySelector(".lessonSelect");


  const registerBtn = document.querySelector("#registerBtn");
  const insertForm = document.querySelector("#insertForm");

  const insertName = document.querySelector("#insertName");
  const insertPhone = document.querySelector("#insertPhone");
  const insertBirthday = document.querySelector("#insertBirthday");
  const insertEmail = document.querySelector("#insertEmail");


  // 등록 모달 띄우기
  // const insertModal = document.querySelector(".insertModal");
  document.querySelector(".studentInsertBtn").addEventListener("click", function (){

    getOngoingLesson().then( result => {
      console.log(result);
        // console.log('result curriculum' + result[0].curriculum.name);

      let htmls = '';

      htmls += `<option value="" selected>수업 선택</option>`;

      for(const lesson of result){
        htmls += `<option value="${lesson.idx}">${lesson.curriculum.name} ${lesson.number}회차</option>`;
      }

      lessonSelect.innerHTML = htmls;
    }).catch( e => {

    });

    $("#insertModal").modal('show');
  })



  registerBtn.addEventListener("click", function (e){
    e.stopPropagation();
    e.preventDefault();

    insertValid();
  });



  async function getOngoingLesson(){
    const response = await axios.get('/lesson/getOngoing', null);
    console.log(response);

    return response.data;

  }
  // 등록 끝------------------------------------------------------------







  // 수정------------------------------------------------------------
  const modifyIdx = document.querySelector("#modifyIdx");
  const modifyName = document.querySelector("#modifyName");
  const modifyPhone = document.querySelector("#modifyPhone");
  const modifyBirthday = document.querySelector("#modifyBirthday");
  const modifyEmail = document.querySelector("#modifyEmail");
  const modifyEtc = document.querySelector("#modifyEtc");


  // 수정 모달 띄우기
  function studentModify(studentIdx){

    const params = {
      studentIdx : studentIdx
    }

    getStudent(params).then(result => {

      console.log(result);

      // modifyLessonIdx.value = result.lessonIdx;
      modifyIdx.value = result.idx;
      modifyName.value = result.name;
      modifyPhone.value = result.phone;
      modifyEmail.value = result.email;
      modifyBirthday.value = result.birthday;
      modifyEtc.value = result.etc;

      if(result.uuid != null){
        modifyImage.innerHTML = '<img src="/view/' + result.uuid + '_' + result.fileName +'" class="rounded-circle" style="width: 100%; height:100%; object-fit: cover; cursor: pointer">';
      }else{
        modifyImage.innerHTML = `<img class="rounded-circle" src="/images/default_profile.jpg" alt="" style="width: 100%; height:100%; object-fit: cover; cursor: pointer">`;
      }

    }).catch(e => {

    })

    $("#modifyModal").modal('show');

  }


  function modifyValid(){

    console.log('modifyValid!');
    console.log(modifyIdx.value);

    modifyName.value = modifyName.value.trim();
    modifyPhone.value = modifyPhone.value.trim();
    modifyBirthday.value = modifyBirthday.value.trim();
    modifyEmail.value = modifyEmail.value.trim();

    if(modifyName.value === ""){
      alert("이름이 입력되지 않았습니다.");
      return;
    }

    if(modifyPhone.value === ""){
      alert("연락처가 입력되지 않았습니다.");
      return;
    }

    if(modifyBirthday.value === ""){
      alert("생년월일이 입력되지 않았습니다.");
      return;
    }

    modifyForm.submit();

  }


  const modifyForm = document.querySelector("#modifyForm");
  const modifyBtn = document.querySelector("#modifyBtn");
  modifyBtn.addEventListener("click", function (e){
    e.stopPropagation();
    e.preventDefault();

    modifyValid();




  })



  async function getStudent(paramList){
    const response = await axios.get('/member/student/getStudent', {params : paramList});
    console.log(response);

    return response.data;
  }


  // 수정 끝------------------------------------------------------------





  // async function modifyStudent(paramList){
  //   await axios.post('/member/student/modify', null, {params : paramList});
  // }

  // async function deleteStudent(paramList){
  //   await axios.post('/member/student/delete', null, {params : paramList});
  // }




  const deleteStudentIdx = document.querySelector("#deleteStudentIdx");
  const deleteForm = document.querySelector("#deleteForm");
  function studentDelete(studentIdx){

    if(!confirm('삭제하시겠습니까?')){
      return;
    }

    if(!confirm('관련 데이터가 모두 삭제됩니다.\n정말로 삭제하시겠습니까?')){
      return;
    }

    deleteForm.submit();


    // const param = {
    //   studentIdx : studentIdx
    // }
    // deleteStudent(param);




  }


  function insertValid(){

    insertName.value = insertName.value.trim();
    insertPhone.value = insertPhone.value.trim();
    insertBirthday.value = insertBirthday.value.trim();
    insertEmail.value = insertEmail.value.trim();

    if(lessonSelect.value === ""){
      alert("수업이 선택되지 않았습니다.");
      return;
    }

    if(insertName.value === ""){
      alert("이름이 입력되지 않았습니다.");
      return;
    }

    if(insertPhone.value === ""){
      alert("연락처가 입력되지 않았습니다.");
      return;
    }

    if(insertBirthday.value === ""){
      alert("생년월일이 입력되지 않았습니다.");
      return;
    }

    insertForm.submit();

  }




  const url = new URL(window.location.href);
  console.log(window.location.href);
  const urlSearchParams = url.searchParams;

  console.log(urlSearchParams.get("code"));
  const code = urlSearchParams.get("code");

  switch (code){
    case 'insert-success' :
      alert('등록되었습니다. ◝(ᵔᵕᵔ)◜');
      history.replaceState({}, null, location.pathname);
      break;
    case 'insert-fail' :
      alert('이미 존재하는 학생입니다.');
      history.replaceState({}, null, location.pathname);
      break;
    case 'modify-success' :
      alert('수정되었습니다.');
      history.replaceState({}, null, location.pathname);
      break;
    case 'modify-fail' :
      alert('수정에 실패했습니다.');
      history.replaceState({}, null, location.pathname);
      break;
    case 'delete-fail' :
      alert('삭제에 실패했습니다.');
      history.replaceState({}, null, location.pathname);
      break;
    case 'delete-success' :
      alert('삭제되었습니다.');
      history.replaceState({}, null, location.pathname);
      break;

  }


  const inputImage = document.querySelector(".inputImage");
  const uploadImage = document.querySelector("#uploadImage");
  const insertFileName = document.querySelector("#insertFileName");
  const insertFile = document.querySelector("#insertFile");
  inputImage.addEventListener("click", function (){
    uploadImage.click();
  })

  uploadImage.addEventListener("change", function (){
    if (uploadImage.files && uploadImage.files[0]) {
      var reader = new FileReader();

      // 파일을 읽어서 이미지를 미리보기에 표시합니다.
      reader.onload = function(e) {
        inputImage.innerHTML = '<img src="' + e.target.result + '" alt="이미지 미리보기" class="rounded-circle" style="width: 100%; height:100%; object-fit: cover; cursor: pointer">';
      };

      // 파일을 읽습니다.
      reader.readAsDataURL(uploadImage.files[0]);
    }
  })




  const modifyImage = document.querySelector(".modifyImage");
  const modifyFile = document.querySelector("#modifyFile");
  modifyImage.addEventListener("click", function (){
    modifyFile.click();
  })

  modifyFile.addEventListener("change", function (){
    if (modifyFile.files && modifyFile.files[0]) {
      var reader = new FileReader();

      // 이미지를 미리보기에 표시
      reader.onload = function(e) {
        modifyImage.innerHTML = '<img src="' + e.target.result + '" alt="이미지 미리보기" class="rounded-circle" style="width: 100%; height:100%; object-fit: cover; cursor: pointer">';
      };

      //  파일을 읽어옴
      reader.readAsDataURL(modifyFile.files[0]);
    }
  })


  function goToStudentInfo(idx){
    location.href = "/lesson/studentDetail?idx=" + idx;
  }

  function goToLessonInfo(idx){
    location.href = "/lesson/detail?idx=" + idx;
  }




  // nav 활성화
  // document.querySelector(".teacherManagement").classList.add("active");
  // document.querySelector(".memberManagement").classList.add("active");

</script>
</body>
</html>