<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">
    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <h3 style="display: inline-flex">과정관리</h3>
            <button style="display: inline-flex" class="btn btn-primary float-end insertBtn">과정등록</button>

            <hr>
            <br>

            <!-- 검색 -->
            <div class="row mt-3 float-end" style="max-width: 500px; display: inline-flex">
                <form action="/training/curriculum" method="get">
                    <div class="col">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-select type" name="type">
                                    <option value="">---</option>
                                    <option th:selected="${pageRequestDTO.type == 'n'}" value="n">과정명</option>
                                    <option th:selected="${pageRequestDTO.type == 'c'}" value="c">훈련유형</option>
                                    <option th:selected="${pageRequestDTO.type == 't'}" value="t">기간(시간)</option>
                                    <option th:selected="${pageRequestDTO.type == 'd'}" value="d">기간(일수)</option>
                                </select>
                            </div>
                            <input type="text" class="form-control keyword" name="keyword" th:value="${pageRequestDTO.keyword}" style="border-radius: 5px">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-primary searchBtn">검색</button>
                                <button type="button" class="btn btn-outline-secondary clearBtn">초기화</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>


            <!-- 리스트 -->
            <br>
            <div style="display: inline-flex">총 [[${responseDTO.total}]]개</div>

            <br>
            <hr>
            <div style="display: inline-flex">과정명</div>
            <div style="display: inline-flex">훈련유형</div>
            <div style="display: inline-flex">훈련시간</div>
            <div style="display: inline-flex">훈련일수</div>

            <div th:each="curriculum: ${responseDTO.getDtoList()}">
                <hr>
                <div style="display: inline-flex" th:text="${curriculum.name}"></div> &nbsp;&nbsp; | &nbsp;&nbsp;
                <div style="display: inline-flex" th:text="${curriculum.category.name}"></div> &nbsp;&nbsp; | &nbsp;&nbsp;
                <div style="display: inline-flex" th:text="${curriculum.time}"></div> &nbsp;시간 &nbsp; | &nbsp;&nbsp;
                <div style="display: inline-flex" th:text="${curriculum.day}"></div> &nbsp;일 &nbsp;

                <div class="float-end">
                    <button style="display: inline-flex" class="btn btn-secondary" th:idx="${curriculum.idx}"
                            th:name="${curriculum.name}"
                            th:category_name="${curriculum.category.name}"
                            th:category_idx="${curriculum.category.idx}"
                            th:time="${curriculum.time}"
                            th:day="${curriculum.day}"
                            th:onclick="updateBtn(this.getAttribute('idx'),
                                this.getAttribute('name'),
                                this.getAttribute('category_name'),
                                this.getAttribute('category_idx'),
                                this.getAttribute('time'),
                                this.getAttribute('day'))" >수정</button>&nbsp;
                    <button style="display: inline-flex" class="btn btn-danger" th:index="${curriculum.idx}" th:onclick="deleteBtn(this.getAttribute('index'))">삭제</button>
                </div>
            </div>

            <!-- 페이지 -->
            <hr>
            <br>
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:data-num="${i}" >[[${i}]]</a>
                    </li>
                </th:block>

                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end + 1}">다음</a>
                </li>

            </ul>

            <!-- 모달 -->

            <!-- 등록 모달 -->
            <div class="modal insertModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">과정 등록</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/training/curriculum/insert" method="post">
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control curriculumName" name="name" placeholder="과정명">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control curriculumCategory" name="category" placeholder="훈련유형">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control curriculumTime" name="time" placeholder="훈련기간(시간)">
                                    <input type="text" class="form-control curriculumDay" name="day" placeholder="훈련기간(일수)">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary curriculumInsert">등록</button>&nbsp;
                                <button type="button" class="btn btn-danger insertClose">닫기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- 수정 모달 -->
            <div class="modal updateModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">과정 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/training/curriculum/update" method="post">
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <input type="hidden" class="form-control updateIdx" name="idx">
                                    <input type="text" class="form-control updateName" name="name">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="hidden" class="form-control updateCategory_idx" name="category_idx">
                                    <input type="text" class="form-control updateCategory_name" name="category_name">
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control updateTime" name="time">
                                    <input type="text" class="form-control updateDay" name="day">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-secondary updateSubmit" >수정</button>&nbsp;
                                <button type="button" class="btn btn-danger updateClose">닫기</button>&nbsp;
                                <button type="button" class="btn btn-outline-light remove">초기화</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <!-- content end -->


    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->

<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    // 과정 등록 모달
    const insertModal = new bootstrap.Modal(document.querySelector(".insertModal"))
    const curriculumName = document.querySelector(".curriculumName")
    const curriculumCategory = document.querySelector(".curriculumCategory")
    const curriculumTime = document.querySelector(".curriculumTime")
    const curriculumDay = document.querySelector(".curriculumDay")
    const insertBtn = document.querySelector(".insertBtn")
    const insertClose = document.querySelector(".insertClose")
    const idx = document.querySelector(".idx")
    const curriculumInsert = document.querySelector(".curriculumInsert")

    // 과정등록모달 뜨기  -> form action으로 Controller로 보냈음
    insertBtn.addEventListener("click", function (e) {
        curriculumName.value = ''
        curriculumCategory.value = ''
        curriculumTime.value = ''
        curriculumDay.value = ''
        insertModal.show()
    }, false)

    // 과정등록모달 닫기
    insertClose.addEventListener("click", function (e) {
        insertModal.hide()
    }, false)

    //과정 수정 모달
    const updateModal = new bootstrap.Modal(document.querySelector(".updateModal"))
    const updateClose = document.querySelector(".updateClose")
    const updateIdx = document.querySelector(".updateIdx")
    const updateName = document.querySelector(".updateName")
    const updateCategory_name = document.querySelector(".updateCategory_name")
    const updateCategory_idx = document.querySelector(".updateCategory_idx")
    const updateTime = document.querySelector(".updateTime")
    const updateDay = document.querySelector(".updateDay")


    //과정 상세 모달
    async function updateBtn(idx,name, category_name, category_idx,time, day ){
        updateIdx.value = idx
        updateName.value= name
        updateCategory_name.value= category_name
        updateCategory_idx.value = category_idx
        updateTime.value= time
        updateDay.value= day
        updateModal.show()
    }

    //과정 수정 모달 닫기
    updateClose.addEventListener("click", function (e){
        updateModal.hide()
    })

    //과정 삭제
    async function deleteBtn(index){
        if(!confirm("과정을 삭제하시겠습니까?")){
            return
        }

        curriculumDelete(index).then(result => {
            location.reload()
        }).catch(e =>{
            console.log(e)
        })
    }

    //페이지 클릭
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const formObj = document.querySelector("form");

        const num = target.getAttribute("data-num");
        const keyword = document.querySelector(".keyword");
        const type = document.querySelector(".type");

        // 버튼 누르면 ?page=num
        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;

        // 검색 목록이면
        if(keyword.value !== ''){
            formObj.innerHTML += `<input type="hidden" name="type" value="${type.value}">`
            formObj.innerHTML += `<input type="hidden" name="keyword" value="${keyword.value}">`
        }

        formObj.submit();

    }, false);

    //  검색 조건 초기화
    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.stopPropagation();
        e.preventDefault();

        self.location = '/training/curriculum';

    }, false)


</script>
</html>