<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head">


  <style>

    .content{
      overflow: auto;
      display: table;
    }

    .inner-content{
      display: table-row;
    }




  </style>
</head>
<body>
<!-- warpper start -->
<div class="wrapper">
  <div th:replace="/layout/basic :: sidebar">

  </div>

  <!-- content start -->
  <div class="content">
    <div th:replace="/layout/basic :: navbar"></div>

      <form action="/member/question/create" method="post">
    <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

        <h3 style="display: inline-flex">문제 등록</h3>
        <button class="btn btn-primary float-end" style="display: inline-flex" type="submit">등록</button>
        <hr>
        <br>
      <!-- 문제 카드-->
      <div class="col-6 float-start">


<!--        <select name="name" class="form-select" style="max-width: 300px">-->
<!--          <option value="">분류 선택</option>-->
<!--          <option>자바 풀스택</option>-->
<!--          <option>프론트 엔드</option>-->
<!--        </select>-->

<!--        <input class="form-control" name="name" placeholder="분류 입력"/>-->

      <div class="questionList">
            <!-- 문제 한개 -->
                  <div class="card">
                    <div class="card-header" style="display: inline-flex">
                      <input type="hidden" name="number" value="1"/>
                      <span style="font-weight: bolder; font-size: 14pt; margin-top: 9px; margin-right: 5px"><strong>1. </strong></span>
                        <input name="content" class="card-title form-control questionContent" id="content" placeholder="문제를 입력하세요." style="border: none; background: transparent; margin-top: 5px"/>

                    </div>
                    <div class="card-body">

                        <textarea name="example" class="card-title form-control" id="example" placeholder="보기"></textarea>

                    <br>
                      <input name="item1" class="card-title form-control" id="item1" placeholder="문항 1"/>
                      <input name="item2" class="card-title form-control" id="item2" placeholder="문항 2"/>
                      <input name="item3" class="card-title form-control" id="item3" placeholder="문항 3"/>
                      <input name="item4" class="card-title form-control" id="item4" placeholder="문항 4"/>

                        <br>
                      <label>정답</label>
                      <select class="form-select" name="answer" id="answer">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                      </select>

<!--                        &nbsp;&nbsp;&nbsp;&nbsp;-->
<!--                        <select>-->
<!--                            <input style="margin-left: 30px" class="form-check-inline" name="answer" type="radio" value="1"/>1-->
<!--                            <input style="margin-left: 30px" class="form-check-inline" name="answer" type="radio" value="2"/>2-->
<!--                            <input style="margin-left: 30px" class="form-check-inline" name="answer" type="radio" value="3"/>3-->
<!--                            <input style="margin-left: 30px" class="form-check-inline" name="answer" type="radio" value="4"/>4-->
<!--                        </select>-->

                    </div> <!-- card body-->

                  </div><!-- card -->


            <!-- 문제 한개 끝 -->


      </div> <!-- questionList -->
        <button class="btn btn-danger deleteBtn col-12">삭제</button>
          <br>
        <button class="btn btn-primary btn-square plusBtn col-12" style="text-align: center"> + </button>
          <br>
          <br>
          <br>
          <br>
          <br>
      </div> <!-- 문제 카드 끝-->



          <!-- 상태 카드 -->
          <div class="col-5 float-end position-fixed form-control statusBarDiv" style="overflow: auto; border: 1px solid lightgray; border-radius: 5px; height: 600px; width: 30%; left: 55%; position: absolute; background-color: whitesmoke">

              <div>
                  <input class="" style="margin: 40px 40px 0 40px; width: 85%; border : none; border-bottom: 1px solid lightgray; background-color: transparent; font-size: 15pt" name="name" placeholder="분류를 입력하세요.">
              </div>

              <div class="statusBar" style="margin: 40px">
                  <div style="border: 1px solid lightgray; border-radius: 5px; background-color: white;">
                      <div style="margin: 10px; display: inline-flex">1.</div>
                      <div style="margin: 10px; display: inline-flex; white-space: nowrap; overflow: scroll; text-overflow: ellipsis;" class="statusContent"></div>
                  </div>
              <button class="btn btn-primary col-6 position-fixed" style="position: absolute; height: 5%; width: 30%; top: 88%; left: 55%; bottom: 30%;" type="submit">등록</button>
              </div>
          </div>

          <!-- 상태 카드 끝-->









    </div>
    <!-- inner content-->
      </form>


  </div>
  <!-- content end -->


  <!-- 진짜 개 천천히 top으로 올라가네요-->
  <!--    좀 빠르게 고침 -->
  <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
  <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="/layout/basic :: scriptSet">
</div>

<script>


    document.addEventListener( "DOMContentLoaded", function () {
        connectionContent();
    });


  const plusBtn = document.querySelector(".plusBtn");
  const questionList = document.querySelector(".questionList");

    const statusBarDiv = document.querySelector(".statusBarDiv");

  const scrollToBottom = (element) => element.scrollIntoView({ behavior: "smooth", block: "end" });

  let i = 2;

  plusBtn.addEventListener("click", function (e) {

    e.preventDefault();
    e.stopPropagation();

    deleteBtn.style.display = 'block';

    if(i > 20){
      alert('문제는 최대 20개입니다.');
      return;
    }


    $(".questionList").append(`<div class="questionDiv">
                    <br>
                    <br>
                    <br>
                     <div class="card">
                    <div class="card-header" style="display: inline-flex">
                      <input type="hidden" name="number" value="${i}"/>
                      <span style="font-weight: bolder; font-size: 14pt; margin-top: 9px; margin-right: 5px"><strong>${i}. </strong></span>
                        <input name="content" class="card-title form-control questionContent" id="content" placeholder="문제를 입력하세요." style="border: none; background: transparent; margin-top: 5px"/>

                    </div>
                    <div class="card-body">
                        <textarea name="example" class="card-title form-control" id="example" placeholder="보기"></textarea>

                    <br>
                      <input name="item1" class="card-title form-control" id="item1" placeholder="문항 1"/>
                      <input name="item2" class="card-title form-control" id="item2" placeholder="문항 2"/>
                      <input name="item3" class="card-title form-control" id="item3" placeholder="문항 3"/>
                      <input name="item4" class="card-title form-control" id="item4" placeholder="문항 4"/>

                        <br>
                      <label>정답</label>
                           <select class="form-select" name="answer" id="answer">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                          </select>

                    </div> <!-- card body-->

                  </div><!-- card -->
            <!-- 문제 한개 끝 -->`);



      $(".statusBar").append(`<div style="border: 1px solid lightgray; border-radius: 5px; background-color: white; margin-top: 5px" class="questionStatus">
                      <div style="margin: 10px; display: inline-flex">${i}.</div>
                      <div style="margin: 10px; display: inline-flex; white-space: nowrap; max-width: 80%; overflow: scroll; text-overflow: ellipsis;" class="statusContent"></div>
                  </div>`);


        i++;


      contentList = Array.from(document.querySelectorAll(".questionContent"));
      statusContentList = Array.from(document.querySelectorAll(".statusContent"));
      questionStatusList = Array.from(document.querySelectorAll(".questionStatus"));
      console.log(contentList);
      console.log(statusContentList);
      connectionContent();



      statusBarDiv.scrollTop = statusBarDiv.scrollHeight;
      // 상태바 스크롤 맨 아래로(statusBar);
      scrollToBottom(document.querySelector("html"));


  })

  const deleteBtn = document.querySelector(".deleteBtn");


  if(i === 2){
      deleteBtn.style.display = 'none';
  }

  deleteBtn.addEventListener("click", function (e) {

      e.preventDefault();
      e.stopPropagation();

      if(!confirm('삭제하시겠습니까?')){
          return;
      }

      // "questionDiv" 클래스를 가진 요소들을 배열로 저장
      const questionDivs = Array.from(document.querySelectorAll('.questionDiv'));
      statusContentList = Array.from(document.querySelectorAll(".statusContent"));
      questionStatusList = Array.from(document.querySelectorAll(".questionStatus"));


      console.log(questionDivs);
      questionDivs[questionDivs.length - 1].remove();
      questionStatusList[questionStatusList.length - 1].remove();
      // statusContentList[statusContentList.length - 1].remove();


      console.log('done');

      i--;

      if(i === 2){
          deleteBtn.style.display = 'none';
      }

  })


  const statusBar = document.querySelector(".statusBar");
  const statusContent = document.querySelector(".statusContent");
  // const content = document.querySelector("#content");
  // content.addEventListener("input", function (){
  //     statusContent.innerText = content.value;
  // })

  let contentList = Array.from(document.querySelectorAll(".questionContent"));
  let statusContentList = Array.from(document.querySelectorAll(".statusContent"));
  let questionStatusList = Array.from(document.querySelectorAll(".questionStatus"));

  console.log(contentList);
  console.log(contentList[0]);
  console.log(statusContentList);
  console.log(statusContentList[0]);


  function connectionContent(){
    for(let i = 0; i < contentList.length; i++){
      contentList[i].addEventListener("input", function (){
          console.log("changed!");
          statusContentList[i].innerText = contentList[i].value;
      })
    }
  }







</script>
</body>
</html>