<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="container-fluid pt-5 px-5">
            <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">
                <h1> 설문조사 등록 </h1>
                [[ ${surveyDtoList} ]]
                <span></span>
            </div>
            <form action="/member/survey/register" method="post">
                <div class="row g-4" th:name="formTableDiv">
                    <div class="col-12" th:name="surveyTitle">
                        <div class="bg-light rounded h-100 p-4">
                            <div class="table-responsive">
                                <table class="table">
                                    <tr>
                                        <th colspan="7">
                                            <h2><input type="hidden" name="round" id="round" th:value="${param.round}"><span th:text="${param.round} + '회차 설문조사폼'"></span></h2>
                                        </th>
                                    </tr>
                                </table>
                            </div><!--end table-responsive-->
                        </div><!--end bg-light rounded h-100 p-4-->
                    </div><!--end col-12-->

                    <!-- 10개의 문제 입력 양식 반복문으로 처리 -->
                    <div th:each="i : ${#numbers.sequence(0, 14)}">
                        <div class="col-12" th:name="'answer' + ${i}">
                            <div class="bg-light rounded h-100 p-4">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>
                                                <input type="hidden" th:name="'surveyDtoList[' + ${i} + '].round'" th:value="${param.round}">
                                                <input type="hidden" th:name="'surveyDtoList[' + ${i} + '].number'" th:value="${i+1}">
                                                <span th:text="${i+1}"></span>
                                            </th>
                                            <td colspan="7">
                                                <textarea class="form-control" th:name="'surveyDtoList[' + ${i} + '].content'"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="7">답변유형</th>
                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                <select class="form-select" th:name="'surveyDtoList[' + ${i} + '].type'" onchange="selectType(this)">
                                                    <option value="선택안함">선택안함</option>
                                                    <option value="객관식">객관식</option>
                                                    <option value="주관식">주관식</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="7">답변보기</th>
                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                <!-- 객관식 양식 -->
                                                <div class="objectiveInputs" th:id="'objectiveInputs' + ${i}" style="display: none;">
                                                    <!-- 객관식 양식 내용 -->
                                                    <div th:each="j : ${#numbers.sequence(1, 7)}">
                                                        <span th:text="${j}"></span>
                                                        <input type="text" th:name="'surveyDtoList[' + ${i} + '].item' + ${j}" th:id="'item' + ${j}" th:placeholder="'옵션값' + ${j}" onblur="validateObjectiveInputs(this)">
                                                    </div>
                                                </div>
                                                <!-- 주관식 양식 -->
                                                <!-- 주관식 양식 -->
                                                <div class="subjectiveInputs" th:id="'subjectiveInputs' + ${i}" style="display: none;">
                                                    <!-- 주관식 양식 내용 -->
                                                    <div>
                                                        <input type="text" th:value="''" placeholder="참여자의 답변란" readonly>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </thead>
                                    </table>
                                </div><!--end table-responsive-->
                            </div><!--end bg-light rounded h-100 p-4-->
                        </div><!--end col-12-->
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary registerBtn">저장</button>
                    </div>
                    <div class="col-12"></div>
                </div><!--end row g-4-->
            </form>
        </div><!--end container-fluid pt-4 px-4-->
    </div>
    <!-- content end -->
    <!-- content end -->
    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div><!-- wrapper end-->
<div th:replace="/layout/basic :: scriptSet"></div>
<!-- 폼 전체 유효성 검사 -->
</body>

<script type="text/javascript">
    function selectType(select) {
        const selectedType = select.value;
        // 선택된 select 요소의 부모 요소를 찾아서 해당 부모에 속한 objectiveInputs와 subjectiveInputs를 제어합니다.
        const parent = select.parentElement.parentElement.parentElement.parentElement;
        // 객관식 입력 필드 보이기/숨기기
        const objectiveInputs = parent.querySelector('.objectiveInputs');
        if (selectedType === '객관식') {
            objectiveInputs.style.display = 'block';
        } else {
            objectiveInputs.style.display = 'none';
        }
        // 주관식 입력 필드 보이기/숨기기
        const subjectiveInputs = parent.querySelector('.subjectiveInputs');
        if (selectedType === '주관식') {
            subjectiveInputs.style.display = 'block';
        } else {
            subjectiveInputs.style.display = 'none';
        }
    }
</script>

</html>
