<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar"></div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <h3 style="display: inline-flex">수업정보</h3>
            <a th:href="@{/lesson/studentList(idx=${lesson.idx})}">
                <button style="display: inline-flex" class="btn btn-primary float-end">학생목록</button>
            </a>
            <hr>

            <h7 style="color: #0d6efd; font-size: large; font-weight: bold" th:text="${lesson.curriculum.name}"></h7>
            <h7 style="color: #0d6efd; font-size: large; font-weight: bold" th:text="${lesson.number}"></h7>
            <h7 style="color: #0d6efd; font-size: large; font-weight: bold"> 기 </h7>

            <hr>

            <!-- 본문 -->
            <table style="width: 100%; font-size: large; font-weight: bold; line-height: 200%">
                <tr>
                    <td style="width: 20%">유형    </td>
                    <td style="overflow: auto;width: 80%" th:text="${lesson.curriculum.category.name}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>과정    </td>
                    <td style="overflow: auto;" th:text="${lesson.curriculum.name}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>기수    </td>
                    <td th:text="${lesson.number}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>보유과목    </td>
                    <td >
                        <div style="display: flex; flex-wrap: wrap;">
                            <div style="margin-right: 10px;"
                                 th:each="i:${#numbers.sequence(0,subjectHold.size()-1)}"
                            >
                                <span th:text="${subjectHold[i]}"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>교사    </td>
                    <td style="overflow: auto;" th:text="${lesson.member.name}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>강의실</td>
                    <td style="overflow: auto;" th:text="${lesson.classRoom}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>수강인원    </td>
                    <td th:text="${lesson.headCount}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>시작일    </td>
                    <td th:text="${lesson.startDay}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>종료일    </td>
                    <td th:text="${lesson.endDay}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>상담일 1    </td>
                    <td th:text="${lesson.survey1}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>상담일 2    </td>
                    <td th:text="${lesson.survey2}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>상담일 3    </td>
                    <td th:text="${lesson.survey3}"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
                <tr>
                    <td>비고    </td>
                    <td><textarea style="word-break:break-all; border: none; white-space: pre-line; height: 120px; width: 900px;"  readonly>[[${lesson.content}]]</textarea></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr>
                    </td> <!-- 가로선 추가 -->
                </tr>
            </table>

            <br>

            <div class="float-end" style="display: inline-flex">

                <button style="display: inline-flex" class="btn btn-outline-dark" onclick="location.href='/lesson'">목록</button>
            </div>


        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">



</script>
</html>