<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout/basic :: head"></head>
<style>
    img {
        max-width: 100%; /* 이미지가 부모 요소를 넘지 않도록 최대 너비 설정 */
        max-height: 100%; /* 이미지가 부모 요소를 넘지 않도록 최대 높이 설정 */
    }

    /*스크롤바 지우기*/
    ::-webkit-scrollbar{
        display: none;
    }
</style>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar"></div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

                <button style="display: inline-flex" class="btn btn-primary float-end">학생추가</button>
                <h3> 학생목록 </h3>

            <hr>
            <br>

            <!-- 검색 -->
            <div class="row mt-3 float-end" style="max-width: 500px; display: inline-flex">
                <form action="/training/subject" method="get">
                    <div class="col">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-select type" name="type">
                                    <option value="">---</option>
                                    <option th:selected="${pageRequestDTO.type == 'n'}" value="n">이름</option>
                                </select>
                            </div> &nbsp;
                            <input type="text" class="form-control keyword" name="keyword" th:value="${pageRequestDTO.keyword}" style="border-radius: 5px"> &nbsp;
                            <button style="border-radius: 5px" type="submit" class="btn btn-outline-primary searchBtn">검색</button> &nbsp;
                            <button style="border-radius: 5px" type="button" class="btn btn-outline-secondary clearBtn">초기화</button>

                        </div>
                    </div>
                </form>
            </div>

            <!-- 본문 -->
            <h5 style="color: #0d6efd" >[[${lesson.curriculum.name}]] [[${lesson.number}]] 기</h5>
            <hr>
            <br>

            <div style="width: 100%">
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">이름</div>
                <div style="display: inline-flex;width: 10%; font-weight: bold; font-size: large; color: #0d6efd">수료여부</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">사전평가여부</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">설문여부</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">상담여부</div>
            </div>

            <div style="width: 100%; " th:each="student : ${responseDTO.getDtoList()}">
                <a th:href="@{/lesson/studentDetail(idx=${student.idx})}" style="color: black">
                    <div>
                        <hr>
                        <input type="hidden" class="Idx" th:value="${student.idx}">
                        <div style="overflow: auto;display: inline-flex;width: 20%" th:text="${student.name}"></div>
                        <div style="overflow: auto;display: inline-flex;width: 10%">
                            <span th:if="${student.done == 0}">수료</span>
                            <span th:if="${student.done == 1}">미수료 </span>
                            <span th:if="${student.done == 2}">중도탈락 </span>
                        </div>
                        <div style="overflow: auto;display: inline-flex;width: 20%" >
                            <span th:if="${student.pretest}">완료</span>
                            <span th:if="${!student.pretest}"> - </span>

                        </div>
                        <div style="overflow: auto;display: inline-flex;width: 20%">
                            <span th:if="${student.survey == 0}"> - </span>
                            <span th:if="${student.survey == 1}"> 1회차 완료 </span>
                            <span th:if="${student.survey == 2}"> 2회차 완료 </span>
                            <span th:if="${student.survey == 3}"> 3회차 완료 </span>
                        </div>
                        <div style="overflow: auto;display: inline-flex;width: 20%">
                            <span th:if="${student.counseling == 0}"> - </span>
                            <span th:if="${student.counseling == 1}"> 1회차 완료</span>
                            <span th:if="${student.counseling == 2}"> 2회차 완료</span>
                            <span th:if="${student.counseling == 3}"> 3회차 완료</span>
                            <span th:if="${student.counseling == 4}"> 4회차 완료</span>
                            <span th:if="${student.counseling == 5}"> 5회차 완료</span>
                            <span th:if="${student.counseling == 6}"> 6회차 완료</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- 페이지 -->
            <hr>
            <br>
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:data-num="${i}" th:idx="${responseDTO.getDtoList().get(0).lesson.idx}">[[${i}]]</a>
                    </li>
                </th:block>

                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end + 1}">다음</a>
                </li>

            </ul>

            <br>

            <div class="float-end" style="display: inline-flex">

                <button style="display: inline-flex" class="btn btn-outline-dark backList">수업정보</button>
            </div>


        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    const Idx = document.querySelector(".Idx")
    document.querySelector(".backList").addEventListener("click", function (e){
        const idx = Idx.value
        window.location.href = '/lesson/detail?idx=' + idx;

    })

    //페이지 클릭
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const formObj = document.querySelector("form");

        const num = target.getAttribute("data-num");
        const idx = target.getAttribute("idx");
        const keyword = document.querySelector(".keyword");
        const type = document.querySelector(".type");

        // 버튼 누르면 ?page=num
        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;
        formObj.innerHTML += `<input type="hidden" name="idx" value="${idx}">`;

        // 검색 목록이면
        if (keyword.value !== '') {
            formObj.innerHTML += `<input type="hidden" name="type" value="${type.value}">`
            formObj.innerHTML += `<input type="hidden" name="keyword" value="${keyword.value}">`
        }

        formObj.submit();

    }, false);

    //  검색 조건 초기화
    document.querySelector(".clearBtn").addEventListener("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        self.location = '/training/lesson';

    }, false)







</script>
</html>