<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar"></div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

                <button style="display: inline-flex" class="btn btn-primary float-end">학생추가</button>
                <h3> 학생목록 </h3>

            <hr>
            <br>

            <!-- 본문 -->
            <h7 style="color: #0d6efd" th:text="${lesson.curriculum.name}"></h7>
            <h7 style="color: #0d6efd" th:text="${lesson.number}"></h7>
            <h7 style="color: #0d6efd"> 기 </h7>
            <div style="display: inline-flex; float: right">총 [[${responseDTO.total}]]명</div>


            <div th:each="student : ${responseDTO.getDtoList()}">
                <a th:href="@{/lesson/studentDetail(idx=${student.idx})}" style="color: black">
                    <div>
                        <hr>
                        <input type="hidden" class="Idx" th:value="${student.idx}">
                        <div style="display: inline-flex" th:text="${student.lesson.number}"></div>
                        <div style="display: inline-flex" th:text="${student.name}"></div>
                        <div style="display: inline-flex" th:text="${student.done}"></div>
                        <div style="display: inline-flex" th:text="${student.pretest}"></div>
                        <div style="display: inline-flex" th:text="${student.survey}"></div>
                        <div style="display: inline-flex" th:text="${student.counseling}"></div>
                    </div>
                </a>
            </div>





            <br>

            <div class="float-end" style="display: inline-flex">

                <button style="display: inline-flex" class="btn btn-outline-dark backList">수업정보</button>
            </div>


        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    const Idx = document.querySelector(".Idx")
    document.querySelector(".backList").addEventListener("click", function (e){
        const idx = Idx.value
        window.location.href = '/lesson/detail?idx=' + idx;

    })







</script>
</html>