<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar"></div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

                <button style="display: inline-flex" class="btn btn-primary float-end">학생추가</button>
                <h3> 학생목록 </h3>

            <hr>
            <br>

            <!-- 본문 -->
            <h5 style="color: #0d6efd" >[[${lesson.curriculum.name}]] [[${lesson.number}]] 기</h5>
            <hr>
            <br>

            <div style="width: 100%">
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">이름</div>
                <div style="display: inline-flex;width: 10%; font-weight: bold; font-size: large; color: #0d6efd">수료여부</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">사전평가여부</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">설문여부</div>
                <div style="display: inline-flex;width: 20%; font-weight: bold; font-size: large; color: #0d6efd">상담여부</div>
            </div>




            <div style="width: 100%; " th:each="student : ${responseDTO}">
                <a th:href="@{/lesson/studentDetail(idx=${student.idx})}" style="color: black">
                    <div>
                        <hr>
                        <input type="hidden" class="Idx" th:value="${student.idx}">
                        <div style="overflow: auto;display: inline-flex;width: 20%" th:text="${student.name}"></div>
                        <div style="overflow: auto;display: inline-flex;width: 10%">
                            <span th:if="${student.done == 0}">수료</span>
                            <span th:if="${student.done == 1}">미수료 </span>
                            <span th:if="${student.done == 2}">중도탈락 </span>
                        </div>
                        <div style="overflow: auto;display: inline-flex;width: 20%" >
                            <span th:if="${student.pretest}">완료</span>
                            <span th:if="${!student.pretest}">미완료 </span>

                        </div>
                        <div style="overflow: auto;display: inline-flex;width: 20%">
                            <span th:if="${student.survey == 0}"> 미완료</span>
                            <span th:if="${student.survey == 1}"> 첫번째 설문 완료 </span>
                            <span th:if="${student.survey == 2}">두번째 설문 완료 </span>
                            <span th:if="${student.survey == 3}">세번째 설문 완료 </span>
                        </div>
                        <div style="overflow: auto;display: inline-flex;width: 20%">
                            <span th:if="${student.counseling == 0}"> 완료된 상담이 없습니다.</span>
                            <span th:if="${student.counseling == 1}"> 첫번째 상담 완료</span>
                            <span th:if="${student.counseling == 2}"> 두번째 상담 완료</span>
                            <span th:if="${student.counseling == 3}"> 세번째 상담 완료</span>
                            <span th:if="${student.counseling == 4}"> 네번째 상담 완료</span>
                            <span th:if="${student.counseling == 5}"> 다섯번째 상담 완료</span>
                            <span th:if="${student.counseling == 6}"> 여섯번째 상담 완료</span>
                        </div>
                    </div>
                </a>
            </div>





            <br>

            <div class="float-end" style="display: inline-flex">

                <button style="display: inline-flex" class="btn btn-outline-dark backList">수업정보</button>
            </div>


        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    const Idx = document.querySelector(".Idx")
    document.querySelector(".backList").addEventListener("click", function (e){
        const idx = Idx.value
        window.location.href = '/lesson/detail?idx=' + idx;

    })







</script>
</html>