<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar"></div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <h3 style="display: inline-flex"> [[${student.name}]] </h3>
            <button style="display: inline-flex" class="btn btn-primary float-end">상담내역</button>
            <button style="display: inline-flex; margin-right: 10px" class="btn btn-primary float-end">사전평가결과지</button>

            <hr>
            <br>

            <!-- 본문 -->
            <div th:each="student : ${student}">
                <input type="hidden" class="studentIdx" th:value="${student.idx}">
                <input type="hidden" class="lessonIdx" th:value="${student.lesson.idx}">
                <div style="display: inline-flex">
                    <img th:src="${'/images/' + student.fileName}" alt=""
                         style="width: 150px; height: 180px; margin-right: 20px">
                    <div style="line-height: 130%"> <!-- 이미지랑 텍스트로 두 칸 -->
                        <br>
                        <div> <!-- 이름이랑 값으로 두칸 -->
                            <h7 style="margin-right: 50px">이름</h7>
                            <div style="display: inline-flex" th:text="${student.name}"></div>
                        </div>
                        <br>
                        <div>
                            <h7 style="margin-right: 20px">생년월일</h7>
                            <div style="display: inline-flex; margin-right: 20px" th:text="${student.birthday}"></div>
                        </div>
                        <br>
                        <div>
                            <h7 style="margin-right: 20px">전화번호</h7>
                            <div style="display: inline-flex; margin-right: 20px" th:text="${student.phone}"></div>
                        </div>
                        <br>
                        <div>
                            <h7 style="margin-right: 35px">이메일</h7>
                            <div style="display: inline-flex; margin-right: 30px" th:text="${student.email}"></div>
                        </div>

                    </div>
                    <br>
                    <div>
                        <table>
                            <caption>유형, 과정, 기수, 담당교사, 사전평가여부, 사전평가점수, 수료여부, 설문여부, 과목평가여부</caption>
                            <colgroup>
                                <col style="width: %"
                            </colgroup>
                        </table>




                        <h7 style="margin-right: 20px">유형</h7>
                        <div style="display: inline-flex" th:text="${student.lesson.curriculum.category.name}"></div>
                        <h7 style="margin-right: 20px">과정</h7>
                        <div style="display: inline-flex; margin-right: 20px"
                             th:text="${student.lesson.curriculum.name}"></div>
                        <div style="display: inline-flex" th:text="${student.lesson.number}"></div>
                        <div style="display: inline-flex" th:text="${student.name}"></div>
                        <div style="display: inline-flex" th:text="${student.done}"></div>
                        <div style="display: inline-flex" th:text="${student.pretest}"></div>
                        <div style="display: inline-flex" th:text="${student.survey}"></div>
                        <div style="display: inline-flex" th:text="${student.counseling}"></div>
                    </div>
                </div>
            </div>

            <br>

            <div class="float-end" style="display: inline-flex">
                <button style="display: inline-flex; margin-right: 10px" class="btn btn-outline-primary"
                        th:idx="${student.idx}" th:onclick="updateBtn(this.getAttribute('idx'))">수정
                </button>
                <button style="display: inline-flex" class="btn btn-outline-dark backList">학생전체목록</button>
            </div>

            <!-- 수정 모달 -->
            <div class="modal updatModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">

                    </div>
                </div>
            </div>


        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <a th:replace="/layout/basic :: back-to-top"></a>
</div>
<!-- wrapper end-->


<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    const lessonIdx = document.querySelector(".lessonIdx")
    document.querySelector(".backList").addEventListener("click", function (e) {
        const idx = lessonIdx.value
        window.location.href = '/lesson/studentList?idx=' + idx;
    })

</script>
</html>