<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
  <div th:replace="/layout/basic :: sidebar">

  </div>

  <!-- content start -->
  <div class="content">
    <div th:replace="/layout/basic :: navbar"></div>

    <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

      <h3 style="display: inline-flex">강사 관리</h3>
      <button style="display: inline-flex" class="btn btn-primary float-end teacherInsertBtn"> 강사 등록 </button>

      <hr>
      <br>

      <!-- 검색 -->
      <div class="row mt-3 float-end" style="max-width: 500px; display: inline-flex">
        <form action="/member/teacher" method="get">
          <div class="col">
            <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
            <div class="input-group">
              <div class="input-group-prepend">
                <select class="form-select type" name="type">
                  <option value="">---</option>
                  <option th:selected="${pageRequestDTO.type == 'n'}" value="n">이름</option>
                  <option th:selected="${pageRequestDTO.type == 'i'}" value="i">아이디</option>
                  <option th:selected="${pageRequestDTO.type == 'ni'}" value="ni">이름/아이디</option>
                </select>
              </div>

              &nbsp;&nbsp;
              <input type="text" class="form-control keyword" name="keyword" th:value="${pageRequestDTO.keyword}" style="border-radius: 5px">
              &nbsp;&nbsp;
              <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary searchBtn">검색</button>
                <button type="button" class="btn btn-outline-secondary clearBtn">초기화</button>
              </div>

            </div>
          </div>

        </form>
      </div>
      <!-- 검색 끝-->

      <br>
      <div style="display: inline-flex">총 [[${pageResponseDTO.total}]]명</div>
      <div th:each="member : ${pageResponseDTO.getDtoList()}" th:with="teacher=${teacher}">

          <hr>
          <img class="rounded-circle" th:src="${'/images/' + member.fileName}" alt="" style="width: 40px; height: 40px;">
        &nbsp;&nbsp;
          <div style="display: inline-flex" th:text="${member.name}"></div> &nbsp;&nbsp; | &nbsp;&nbsp;
          <div style="display: inline-flex" th:text="${#temporals.format(member.regDate, 'yy-MM-dd')}"></div>
          <div class="float-end">
            <button style="display: inline-flex" class="btn btn-secondary" th:data-name="${member.id}" onclick="teacherModify(this.getAttribute('data-name'))">수정</button>
            <button style="display: inline-flex" class="btn btn-danger" th:data-name="${member.id}" onclick="teacherDelete(this.getAttribute('data-name'))">삭제</button>
          </div>
      </div>


<!--      페이지-->
      <hr>
      <br>
      <div class="">
        <ul class="pagination flex-wrap">
          <li class="page-item" th:if="${pageResponseDTO.prev}">
            <a class="page-link" th:data-num="${pageResponseDTO.start -1}">이전</a>
          </li>

          <th:block th:each="i : ${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
            <li th:class="${pageResponseDTO.page == i} ? 'page-item active' : 'page-item'">
              <a class="page-link" th:data-num="${i}" >[[${i}]]</a>
            </li>
          </th:block>

          <li class="page-item" th:if="${pageResponseDTO.next}">
            <a class="page-link" th:data-num="${pageResponseDTO.end + 1}">다음</a>
          </li>

        </ul>
      </div>
      <br>

    </div>
<!--    inner content end-->


    <!-- 등록 모달 -->

    <div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="insertModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">강사 등록</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/member/teacher/insert" method="post" id="insertForm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="id" placeholder="아이디" id="insertId">
              </div>
              <div class="input-group mb-3">
                <input type="password" class="form-control" name="pwd" placeholder="비밀번호" id="insertPassword" autoComplete="off" >
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="name" placeholder="이름" id="insertName">
              </div>
              <div class="input-group mb-3">
                <input type="file" class="form-control" name="fileName" id="insertFile">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary registerBtn">등록</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 등록 모달 끝 -->


    <!-- 수정 모달 -->

    <div class="modal fade" id="modifyModal" tabindex="-1" aria-labelledby="modifyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">강사 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/member/teacher/update" method="post" id="modifyForm">
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="id" placeholder="아이디" id="modifyId" readonly>
              </div>
              <!--              <div class="input-group mb-3">-->
              <!--                <input type="password" class="form-control" name="pwd" placeholder="비밀번호" id="modifyPassword">-->
              <!--              </div>-->
              <div class="input-group mb-3">
                <input type="text" class="form-control" name="name" placeholder="이름" id="modifyName">
              </div>
              <div class="input-group mb-3">
                <input type="file" class="form-control" name="fileName" id="modifyFile">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary modifyBtn">수정</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 수정 모달 끝 -->



    <!-- 팝업 모달 -->

    <div class="modal fade" id="popupModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">알림</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="input-group mb-3">
              <div class="popupContent"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal" aria-label="Close">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 팝업 모달 끝 -->




  </div>
  <!-- content end -->


  <!-- 진짜 개 천천히 top으로 올라가네요-->
  <!--    좀 빠르게 고침 -->
  <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
  <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->




<div th:replace="/layout/basic :: scriptSet"></div>

<script>

  //   페이지 클릭 이벤트 처리
  //   clear 버튼 누르면 검색 조건 사라진 목록(/member/teacher) 출력
  document.querySelector(".pagination").addEventListener("click", function (e) {
    e.stopPropagation();
    e.preventDefault();

    const target = e.target;

    if (target.tagName !== 'A') {
      return;
    }

    const formObj = document.querySelector("form");

    const num = target.getAttribute("data-num");
    const keyword = document.querySelector(".keyword");
    const type = document.querySelector(".type");

    // 버튼 누르면 ?page=num
    formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;

    // 검색 목록이면
    if(keyword.value !== ''){
      formObj.innerHTML += `<input type="hidden" name="type" value="${type.value}">`
      formObj.innerHTML += `<input type="hidden" name="keyword" value="${keyword.value}">`
    }

    formObj.submit();

  }, false);
  //  페이지 클릭 end


  //  검색 조건 초기화
  document.querySelector(".clearBtn").addEventListener("click", function (e){
    e.stopPropagation();
    e.preventDefault();

    self.location = '/member/teacher';

  }, false)
  //  검색 초기화 end


  // nav 활성화
  document.querySelector(".teacherManagement").classList.add("active");
  document.querySelector(".memberManagement").classList.add("active");

  // 등록 --------------------------------------------------------
  // 등록 모달 띄우기
  const teacherInsertBtn = document.querySelector(".teacherInsertBtn");
  const insertModal = document.querySelector("#insertModal");


  teacherInsertBtn.addEventListener("click", function (e) {
    e.preventDefault();
    e.stopPropagation();

    $("#insertModal").modal('show');

  })


  const insertId = document.querySelector("#insertId");
  const insertPassword = document.querySelector("#insertPassword");
  const insertName = document.querySelector("#insertName");
  const insertForm = document.querySelector("#insertForm");

  function insertValid(){

    insertId.value = insertId.value.trim();
    insertPassword.value = insertPassword.value.trim();
    insertName.value = insertName.value.trim();

    if(insertId.value === ""){
      alert("아이디가 입력되지 않았습니다.");
      return;
    }

    if(insertPassword.value === ""){
      alert("비밀번호가 입력되지 않았습니다.");
      return;
    }

    if(insertName.value === ""){
      alert("이름이 입력되지 않았습니다.");
      return;
    }

    insertForm.submit();

  }

  const registerBtn = document.querySelector(".registerBtn");

  registerBtn.addEventListener("click", function (e){
    e.stopPropagation();
    e.preventDefault();

    insertValid();
  });


  // 등록 끝 --------------------------------------------------------





  // 수정 --------------------------------------------------------

  // const studentModifyBtn = document.querySelector(".studentModifyBtn");
  // studentModifyBtn.addEventListener("click", function (e) {
  //   e.stopPropagation();
  //   e.preventDefault();
  //
  // })

  const modifyId = document.querySelector("#modifyId");
  // const modifyPassword = document.querySelector("#modifyPassword");
  const modifyName = document.querySelector("#modifyName");


  async function getTeacher(paramList){
    const response = await axios.get('/member/teacher/getTeacher', {params : paramList});
    return response.data;
  }

  function teacherModify(teacherId){

    const params = {
      id : teacherId
    }

    getTeacher(params).then(result => {
      console.log(result);

      modifyId.value = result.id;
      // modifyPassword.value =
      modifyName.value = result.name;

    }).catch(e => {

    })

    $("#modifyModal").modal('show');

  }



  function modifyValid(){

    modifyId.value = modifyId.value.trim();
    // modifyPassword.value = modifyPassword.value.trim();
    modifyName.value = modifyName.value.trim();

    if(modifyId.value === ""){
      alert("아이디가 입력되지 않았습니다.");
      return;
    }

    // if(modifyPassword.value === ""){
    //   alert("비밀번호가 입력되지 않았습니다.");
    //   return;
    // }

    if(modifyName.value === ""){
      alert("이름이 입력되지 않았습니다.");
      return;
    }

    modifyForm.submit();

  }


  const modifyForm = document.querySelector("#modifyForm");
  const modifyBtn = document.querySelector(".modifyBtn");
  modifyBtn.addEventListener("click", function (e) {
    e.stopPropagation();
    e.preventDefault();

    modifyValid();
  })


  // 수정 끝--------------------------------------------------------




  // 삭제--------------------------------------------------------

  function teacherDelete(teacherId){

    if(!confirm('삭제하시겠습니까?')){
      return;
    }

    const params = {
      id : teacherId
    }

    // 백에서 code를 보내거나 redirect하는 대신 백에는 데이터/처리 요청만 하고 성공 실패 여부에 따라 프론트에서 해결
    deleteTeacher(params).then(result => {
      self.location = '/member/teacher?code=delete-success';
    }).catch( e => {
      self.location = '/member/teacher?code=delete-fail';
    })

  }


  async function deleteTeacher(paramList){
    await axios.post('/member/teacher/delete', null, {params: paramList});
  }


  // 삭제 끝 --------------------------------------------------------



  const url = new URL(window.location.href);
  console.log(window.location.href);
  const urlSearchParams = url.searchParams;

  console.log(urlSearchParams.get("code"));
  const code = urlSearchParams.get("code");

  const popupModal = document.querySelector("#popupModal");

  const popupContent = document.querySelector(".popupContent");

  // function popup(){
  //   $("#alertModal").modal('show');
  // }


  switch (code) {
    case 'insert-success' :
      popupContent.innerText = "등록되었습니다. ◝(ᵔᵕᵔ)◜";
      // 이거 진짜 왜 안되냐????????????????????????????왜여기만????????????????? 왜 popupModal만 안됨???????????
      // $("#popupModal").modal('show');
      alert('등록되었습니다. ◝(ᵔᵕᵔ)◜');
      // popup();
      history.replaceState({}, null, location.pathname);
      break;
    case 'insert-fail' :
      alert('이미 존재하는 회원입니다.');
      popupContent.innerText = '이미 존재하는 회원입니다.';
      // popup();
      history.replaceState({}, null, location.pathname);
      break;
    case 'modify-success' :
      alert('수정되었습니다.');
      popupContent.innerText = '수정되었습니다.';
      // popup();
      history.replaceState({}, null, location.pathname);
      break;
    case 'modify-fail' :
      alert('수정에 실패했습니다.');
      popupContent.innerText = '수정 실패했습니다.';
      // popup();
      history.replaceState({}, null, location.pathname);
      break;
    case 'delete-fail' :
      alert('삭제에 실패했습니다.');
      popupContent.innerText = '삭제 실패했습니다.';
      // popup();
      history.replaceState({}, null, location.pathname);
      break;
    case 'delete-success' :
      alert('삭제되었습니다.');
      popupContent.innerText = '삭제되었습니다.';
      // popup();
      history.replaceState({}, null, location.pathname);
      break;
  }


</script>
</body>
</html>