<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5>상담 추가</h5>
                        <div class="card-body">
                            <form th:action="@{/counseling/insert}" method="post" id="i1">
<!--  학생번호랑 학생이름은 땡겨오는 걸로                              -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">학생.No</span>
                                    <input type="text" class="form-control" name="studentIdx" th:value="${student.idx}" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">학생이름</span>
                                    <input type="text" class="form-control" th:value="${student.name}" placeholder="name" readonly>
                                </div>
<!-- 수정요청사항 이미 등록된 상담회차는 등록 못하게 + 숫자만 입력할 수 있게 변경 -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">상담회차</span>
                                    <input type="text"class="form-control"  name="round" placeholder="상담회차">
                                </div>
                                <div class="bs-body-color-rgb">
                                    <span class="input-group-text">내용</span>
                                    <textarea class="form-control col-sm-5" rows="5" name="content" placeholder="상담내용을 작성하세요"></textarea>
                                </div>
<!--  기입으로할지 아니면 radio로 할지                              -->
                                <div class="input-group mb-3">
                                    <span class="input-group-text">상담 방법</span>
                                    <input type="text" class="form-control" name="method" placeholder="0:대면, 1:온라인, 2:전화 중 맞는 방법을 입력하세요">
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">담당자</span>
                                    <input type="text" class="form-control" name="writer" placeholder="담당자를 입력하세요" >
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">날짜</span>
                                    <input type="text" class="form-control counselingDate" name="counselingDate" placeholder="시간" >
                                </div>


                                <div class="my-4">
                                    <div class="float-end">
                                        <button type="button" class="btn btn-primary creatBtn">저장</button>
                                        <button type="button" class="btn btn-outline-dark clearBtn">취소</button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- end card body -->

                        </div><!-- end card-header -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end inner-content -->





    </div><!--end content -->



    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="/layout/basic :: scriptSet">
</div>

<script content="script" th:inline="javascript">

    console.log("안녕 여기 상담추가");


    //시간 설정하기
    // HTML 요소를 선택합니다.
    const counselingDateInput = document.querySelector(".counselingDate");

    // 혹은 특정 포맷으로 날짜를 가져올 수 있습니다.
    const formattedDate = moment().format('YYYY-MM-DD HH:mm:ss');
    console.log(formattedDate); // 예: "2024-04-09 13:45:30"

    // 가져온 오늘 날짜를 input 요소의 값으로 설정합니다.
    counselingDateInput.value = formattedDate;




    //form에 id 추가
    const formObj = document.querySelector("#i1")

    //추가하기
    document.querySelector(".creatBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/counseling/insert`
        formObj.method = 'post'
        formObj.submit()

    }, false)

    //List 돌아가기
    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const studentIdx = [[${student.idx}]]
        console.log("studentIdx= " + studentIdx);

        self.location ='/counseling/counselingDetail?idx=' + studentIdx;

        //꼭 목록으로 돌아가야 할까?
        //self.location ='/lesson/studentList?idx=' + idx;


    }, false)


    //시간 가져오기1
    // var currentDate = moment();
    // console.log(currentDate); // 현재 날짜와 시간 출력

    //시간 가져오기2
    //var today = new Date();
    //var formattedDate = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();









</script>



</body>
</html>