<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">
    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <div class="row mt-3">


                <div class="card">
                        <div class="card-header">
                            <h5>상담 목록</h5>
                            <button type="button" class="btn btn-primary creatBtn" style="text-align: right">추가하기</button>
                            <form action="/counseling/list" method="get">
                                <div class="col">
                                    <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <select class="form-select" name="type">
                                                <option value="">---</option>
                                                <option value="t" th:selected="${pageRequestDTO.type == 't'}">상담일자</option>
                                                <option value="c" th:selected="${pageRequestDTO.type == 'c'}">상담방법</option>">
                                                <option value="w" th:selected="${pageRequestDTO.type == 'w'}">담당자</option>">
                                                <option value="n" th:selected="${pageRequestDTO.type == 'n'}">학생이름</option>">
<!--                                                <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">상담날짜상담방법</option>">-->
<!--                                                <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">상담날짜상담방법담당자</option>">-->
                                            </select>
                                        </div>

                                        <input type="text" class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
<!-- 텍스트와 버튼의 공간 띄우기 어떻게 하는 겨-->
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-success searchBtn" type="submit">Search</button>
                                            <button class="btn btn-outline-success clearBtn" type="button">Clear</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <h8>※상담방식: ( 0: 대면 / 1: 온라인 / 2: 전화 )</h8><br>
                            <h8> </h8>

                            <table class="table">
                                <thead>
                                <tr style="text-align: center">
                                    <th scope="col">상담 번호</th>
                                    <th scope="col">학생 번호</th>
                                    <th scope="col">학생 이름</th>
                                    <th scope="col">학생 사진</th>
                                    <th scope="col">상담 일자</th>
                                    <th scope="col">상담 내용</th>
                                    <th scope="col">상담 방식</th>
                                    <th scope="col">담당자</th>
                                    <th scope="col">상담횟차</th>`
                                </tr>
                                </thead>
<!--counseling이 studentIdx를 foreign key로 가지고 있기 때문에 JPA의 JPQL로 join처리해 불러올 수 있다. -->
                                <tbody th:with="link= ${pageRequestDTO.getLink()}">
                                    <tr th:each="dto:${responseDTO.dtoList}">
                                        <th scope="row">[[${dto.idx}]]</th>
                                        <td>[[${dto.student.idx}]]</td>
                                        <td>
                                            <a th:href="|@{/counseling/detail(idx=${dto.idx})}&${link}|">[[${dto.student.name}]]</a>
                                        </td>
                                        <td>[[${dto.student.fileName}]]</td>
                                        <td>[[${#temporals.format(dto.counselingDate, 'yyyy-MM-dd')}]]</td>
                                        <td>[[${dto.content}]]</td>
                                        <td>[[${dto.method}]]</td>
                                        <td>[[${dto.writer}]]</td>
                                        <td>[[${dto.student.counseling}]]</td>
                                        <td><button type="button" class="btn btn-secondary">수정하기</button></td>
                                        <td><button type="button" class="btn btn-danger">삭제하기</button></td>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- 페이지 번호 화면 출력 -->
                            <div class="float-end">
                                <ul class="pagination flex-wrap">
                                    <li class="btn btn-outline-secondary" th:if="${responseDTO.prev}">
                                        <a class="btn btn-outline-secondary" th:data-num="${responseDTO.start -1}">Previous</a>
                                    </li>

                                    <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">

                                        <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                            <a class="btn btn-outline-secondary" th:data-num="${i}">[[${i}]]</a>
                                        </li>
                                    </th:block>

                                    <li class="btn btn-outline-secondary" th:if="${responseDTO.next}">
                                        <a class="btn btn-outline-secondary" th:data-num="${responseDTO.end + 1}">Next</a>
                                    </li>
                                </ul>
                            </div><!-- end float end -->

                        </div><!-- end card body -->
                    </div><!-- end card -->
            </div><!-- end row -->
        </div><!-- end inner-content -->





    </div><!-- content end -->



    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="/layout/basic :: scriptSet">
</div>

<script content="script" th:inline="javascript">

    console.log("안녕 여기 list");

    //페이지번호 클릭시 hidden으로 form에 추가
    document.querySelector(".pagination").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(target.tagName !== 'A'){
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type='hidden' name='page' value='${num}'>`

        formObj.submit();

    }, false)


    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location ='/counseling/list'
    }, false)


    document.querySelector(".creatBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location ='/counseling/insert'
    }, false)


</script>

</body>
</html>