<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">
            <div class="row mt-3">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <h5>상담 수정</h5>
                            <div class="card-body">
                                <form th:action="@{/counseling/update}" method="post" id="m1">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">상담.No</span>
                                        <input type="text" class="form-control" name="idx" th:value="${counseling.idx}" readonly>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">학생.No</span>
                                        <input type="text" class="form-control" name="studentIdx" th:value="${student.idx}" readonly>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">학생이름</span>
                                        <input type="text" class="form-control" th:value="${student.name}" placeholder="name" readonly>
                                    </div>
                                    <!-- 수정요청사항 이미 등록된 상담회차는 등록 못하게 -->
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">상담회차</span>
                                        <input type="text" id="numberOnly" class="form-control" name="round" th:value="${counseling.round}" placeholder="상담회차" readonly>
                                    </div>
                                    <div class="bs-body-color-rgb">
                                        <span class="input-group-text">내용</span>
                                        <textarea class="form-control col-sm-5" rows="30" name="content" id="content" maxlength="1000" th:text="${counseling.content}" oninput="checkTextareaLength()" style="resize: none; overflow: hidden;" placeholder="상담내용을 작성하세요" required></textarea>
                                        <p class="text-end" id="charCount"></p>
                                    </div>
                                    <!--  기입으로할지 아니면 radio로 할지                              -->
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">상담 방법</span>
                                        <input type="text" id="numberOnly1" class="form-control" name="method" th:value="${counseling.method}" placeholder="0:대면, 1:온라인, 2:전화 중 맞는 방법을 입력하세요" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">담당자</span>
                                        <input type="text" class="form-control" name="writer" th:value="${counseling.writer}" placeholder="담당자를 입력하세요" required>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">날짜</span>
                                        <input type="text" class="form-control counselingDate" name="counselingDate" th:value="${counseling.counselingDate}" placeholder="상담시간" readonly>
                                    </div>


                                    <div class="my-4">
                                        <div class="float-end">
                                            <button type="button" class="btn btn-primary creatBtn">저장</button>
                                            <button type="button" class="btn btn-outline-dark clearBtn">취소</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- end card body -->

                        </div><!-- end card-header -->
                    </div><!-- end card -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end inner-content -->





    </div><!--end content -->



    <!-- 진짜 개 천천히 top으로 올라가네요-->
    <!--    좀 빠르게 고침 -->
    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->



<div th:replace="/layout/basic :: scriptSet">
</div>

<script content="script" th:inline="javascript">

    console.log("안녕 여기 상담수정");



    //form에 id 추가
    const formObj = document.querySelector("#m1");


    //수정하기
    document.querySelector(".creatBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        alert("수정되었습니다");

        formObj.action = `/counseling/update`
        formObj.method = 'post'
        formObj.submit()

    }, false)


    //List 돌아가기
    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        const studentIdx = [[${student.idx}]]
        console.log("studentIdx= " + studentIdx);

        self.location ='/counseling/counselingDetail?idx=' + studentIdx;

    }, false)


    //유효성검사 / 상담회차, 상담방법 number로 받기
    $("#numberOnly").on("keyup", function() {$(this).val( $(this).val().replace(/[^0-9]/gi,"") );})
    $("#numberOnly1").on("keyup", function() {$(this).val( $(this).val().replace(/[^0-9]/gi,"") );})



    //입력된 글자 수 표시
    function checkTextareaLength() {
        var textarea = document.getElementById('content');
        var charCount = document.getElementById('charCount');
        var content = textarea.value;
        const maxLength = 1000;

        //1000자 이상일 경우 글자수 알림
        if (content.length > maxLength) {
            charCount.textContent = '글자 수: ' + maxLength + ' / ' + maxLength + ' (초과)';
            alert("1000자 이하로 작성바랍니다.")
        } else {
            charCount.textContent = '글자 수: ' + content.length + ' / ' + maxLength;
        }
    }



    // textarea의 높이를 동적으로 조절하는 함수
    function adjustTextareaHeight() {
        var textarea = document.getElementById('content');
        textarea.style.height = 'auto'; // 기본 높이로 재설정
        textarea.style.height = textarea.scrollHeight + 'px'; // 내용에 맞게 높이 조절
    }

    // 페이지 로드 시 textarea의 높이를 조절
    window.onload = function() {
        adjustTextareaHeight();
    };

    // textarea의 값이 변경될 때마다 높이를 조절
    document.getElementById('content').addEventListener('input', function() {
        adjustTextareaHeight();
    });





</script>



</body>
</html>