<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout/basic :: head"></head>
<body>
<!-- warpper start -->
<div class="wrapper">
    <div th:replace="/layout/basic :: sidebar">

    </div>

    <!-- content start -->
    <div class="content">
        <div th:replace="/layout/basic :: navbar"></div>

        <div class="inner-content" style="margin: 2vw 0 0 6vh; max-width: 80%">

            <h3 style="display: inline-flex">과목관리</h3>
            <button style="display: inline-flex" class="btn btn-primary float-end insertBtn">과목등록</button>

            <hr>
            <br>

            <!-- 검색 -->
            <div class="row mt-3 float-end" style="max-width: 500px; display: inline-flex">
                <form action="/training/subject" method="get">
                    <div class="col">
                        <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select class="form-select type" name="type">
                                    <option value="">---</option>
                                    <option th:selected="${pageRequestDTO.type == 'n'}" value="n">과목명</option>
                                    <option th:selected="${pageRequestDTO.type == 'm'}" value="m">평가방법</option>
                                </select>
                            </div> &nbsp;
                            <input type="text" class="form-control keyword" name="keyword" th:value="${pageRequestDTO.keyword}" style="border-radius: 5px"> &nbsp;
                            <button style="border-radius: 5px" type="submit" class="btn btn-outline-primary searchBtn">검색</button> &nbsp;
                            <button style="border-radius: 5px" type="button" class="btn btn-outline-secondary clearBtn">초기화</button>

                        </div>
                    </div>
                </form>
            </div>


            <!-- 리스트 -->
            <br>
            <div style="display: inline-flex">총 [[${responseDTO.total}]]개</div>

            <br>
            <hr>
            <div style="width: 100%">
                <div style="display: inline-flex;width: 30%; font-weight: bold; font-size: large; color: #0d6efd">과목명</div>
                <div style="display: inline-flex;  font-weight: bold; font-size: large;  color: #0d6efd">평가방식</div>
            </div>

            <div style="width: 100%" th:each="subject: ${responseDTO.getDtoList()}">
                <hr>
                <a style="cursor: pointer; color: #222;"
                   th:idx="${subject.idx}"
                   th:name="${subject.name}"
                   th:method="${subject.method}"
                   th:onclick="updateBtn(this.getAttribute('idx'), this.getAttribute('name'),this.getAttribute('method'))">
                    <div style="display: inline-flex; width: 30%" th:text="${subject.name}"></div>
                    <div style="display: inline-flex" th:text="${subject.method}"></div>
                </a>
            </div>

            <!-- 페이지 -->
            <hr>
            <br>
            <ul class="pagination flex-wrap">
                <li class="page-item" th:if="${responseDTO.prev}">
                    <a class="page-link" th:data-num="${responseDTO.start -1}">이전</a>
                </li>

                <th:block th:each="i : ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                    <li th:class="${responseDTO.page == i} ? 'page-item active' : 'page-item'">
                        <a class="page-link" th:data-num="${i}" >[[${i}]]</a>
                    </li>
                </th:block>

                <li class="page-item" th:if="${responseDTO.next}">
                    <a class="page-link" th:data-num="${responseDTO.end + 1}">다음</a>
                </li>

            </ul>

            <!-- 모달 -->

            <!-- 등록 모달 -->
            <div class="modal insertModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">과목 등록</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control subjectName" placeholder="과목명">
                                <input type="text" class="form-control subjectMethod" placeholder="평가방식">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-primary insertSubmit">등록</button>
                            <button type="button" class="btn btn-outline-danger insertClose">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 수정 모달 -->
            <div class="modal updateModal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">과목 수정</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <input type="hidden" class="updateIdx">

                            <div class="input-group mb-2">
                                <div style="width: 50%; display: flex; justify-content:flex-start; align-items: center;">
                                    <span style="font-weight: 600;">과목명</span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control updateName">
                            </div>

                            <br>

                            <div class="input-group mb-2">
                                <div style="width: 50%; display: flex; justify-content:flex-start; align-items: center;">
                                    <span style="font-weight: 600;">평가방식</span>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control updateMethod">
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-outline-primary updateSubmit" >수정</button>&nbsp;
                            <button type="button" class="btn btn-outline-danger deleteBtn" style="display: inline-flex" >삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- inner content end -->
    </div> <!-- content end -->
    <!-- content end -->

    <!-- 더 빠르게 바꾸고 싶으면 main.js에서 back-to-top speed 조정 낮을수록 빠름 -->
    <a th:replace="/layout/basic :: back-to-top"></a>

</div>
<!-- wrapper end-->

<div th:replace="/layout/basic :: scriptSet">
</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/training.js"></script>
<script layout:fragment="script" th:inline="javascript">

    // 과목 등록 모달
    const insertModal = new bootstrap.Modal(document.querySelector(".insertModal"))
    const subjectName = document.querySelector(".subjectName")
    const subjectMethod = document.querySelector(".subjectMethod")
    const insertBtn = document.querySelector(".insertBtn")
    const insertSubmit = document.querySelector(".insertSubmit")
    const insertClose = document.querySelector(".insertClose")

    // 과목등록모달 뜨기
    insertBtn.addEventListener("click", function (e) {
        insertModal.show()
    }, false)

    // 과목 등록하기
    insertSubmit.addEventListener("click", function (e) {

        if(subjectName.value.trim() == "" && subjectMethod.value.trim() != "" ){
            alert("등록할 과목명 입력하세요.")
            return;
        }else if(subjectName.value.trim() != "" && subjectMethod.value.trim() == ""){
            alert("등록할 평가방식을 입력하세요.")
            return;
        }else if(subjectName.value.trim() == "" && subjectMethod.value.trim() == "" ){
            alert("빈 칸을 입력하세요.")
            return;
        }

        const insertName = {
            contentType: 'application/json',
            name: subjectName.value,
            method : subjectMethod.value
        }

        //training.js 에서 insertSubject 불러오기
        subjectInsert(insertName).then(result => {
            insertModal.hide()
            subjectName.value = ''
            subjectMethod.value = ''
            location.reload()
        }).catch(e => {
            alert("과목등록오류")
        })
    }, false)

    //과목등록모달 닫기
    insertClose.addEventListener("click", function (e) {
        insertModal.hide()
    }, false)


    //과목 수정 모달
    const updateModal = new bootstrap.Modal(document.querySelector(".updateModal"))
    const updateMethod = document.querySelector(".updateMethod")
    const deleteBtn = document.querySelector(".deleteBtn")
    const updateSubmit = document.querySelector(".updateSubmit")
    const updateIdx = document.querySelector(".updateIdx")
    const updateName = document.querySelector(".updateName")

    //과목 상세 모달
    async function updateBtn(idx,name, method){
        updateIdx.value = idx
        updateName.value= name
        updateMethod.value = method
        updateModal.show()
    }

    //과목 수정
    updateSubmit.addEventListener("click", function (e){

        const updateSubject = {
            contentType: 'application/json',
            idx : updateIdx.value,
            method: updateMethod.value
        }

        subjectUpdate(updateSubject).then(result => {
            updateMethod.value = ''
            updateModal.hide()
            location.reload()
        }).catch(e => {
            console.log(e)
        })
    }, false)

    //과목 삭제
    deleteBtn.addEventListener("click", function (e){
        if(!confirm("과목을 삭제하시겠습니까?")){
            return
        }
        const idx = {
            contentType: 'application/json',
            idx : updateIdx.value
        }

        subjectDelete(idx).then(result => {
            updateIdx.value = ''
            updateModal.hide()
            location.reload()
        }).catch(e =>{
            console.log(e)
        })
    })


    //페이지 클릭
    document.querySelector(".pagination").addEventListener("click", function (e) {
        e.stopPropagation();
        e.preventDefault();

        const target = e.target;

        if (target.tagName !== 'A') {
            return;
        }

        const formObj = document.querySelector("form");

        const num = target.getAttribute("data-num");
        const keyword = document.querySelector(".keyword");
        const type = document.querySelector(".type");

        // 버튼 누르면 ?page=num
        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`;

        // 검색 목록이면
        if(keyword.value !== ''){
            formObj.innerHTML += `<input type="hidden" name="type" value="${type.value}">`
            formObj.innerHTML += `<input type="hidden" name="keyword" value="${keyword.value}">`
        }

        formObj.submit();

    }, false);

    //  검색 조건 초기화
    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.stopPropagation();
        e.preventDefault();

        self.location = '/training/subject';

    }, false)


</script>
</html>